.ProfilePage {
  width: clamp(400px, 60vw, 1000px);

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  margin: 120px auto 0;

  background-color: var(--color-background);
  color: var(--color-text-primary);

  margin-bottom: 1240px;
}

.ProfilePage__total {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
}

.ProfilePage__total__balance {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 4px;
}

.ProfilePage__investments {
  display: flex;
  flex-direction: column;

  gap: 16px;
  margin-bottom: 64px;
}

.ProfilePage__investments__header {
  height: 36px;

  display: flex;
  align-items: center;

  gap: 4px;
  padding-bottom: 24px;

  border-bottom: solid 1px var(--border-color);
}

.ProfilePage__investments__header__text {
  font-size: 18px;
  font-weight: 500;
}

.ProfilePage__investments__header__info-icon {
  font-size: 14px;
  cursor: pointer;
}

.ProfilePage__investments__header__info-icon:hover {
  background-color: var(--icon-color-hover);
}

.ProfilePage__investments__details {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */

  gap: 24px;
}

.ProfilePage__investments__details__value {
  display: flex;
  justify-content: space-between;
}

.ProfilePage__investments__details__value-text {
  font-weight: 500;
  font-size: 14px;
}

.ProfilePage__investments__details__value-subtext {
  font-weight: 500;
}

.ProfilePage__investments__details__subtext {
  font-size: 12px;
  font-weight: 500;

  color: var(--color-text-secondary);
}

.ProfilePage__investments__details__dash {
  font-size: 20px;

  color: black;
}

.ProfilePage__overview {
  height: 200px;

  display: flex;
  flex-direction: column;
}

.ProfilePage__overview__title {
  /* height: 40px; */

  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.ProfilePage__overview__buttons {
  /* height: 100px; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 16px;
  margin-bottom: 16px;
}

.ProfilePage__overview__button {
  height: 100px;
  width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;

  background-color: var(--theme-primary-color);
  color: var(--color-background);

  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;

  font-weight: 500;
  margin-bottom: 16px;
}

.ProfilePage__overview__button:hover {
  background-color: var(--theme-primary-color-hover);
}

.ProfilePage__overview__percentage {
  font-weight: bold;
}

.ProfilePage__overview__description {
  /* height: 70px; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 4px;

  margin-bottom: 8px;
}

.ProfilePage__description__text {
  font-size: 12px;

  color: var(--color-text-secondary);
}

.ProfilePage__description__subtext {
  font-size: 11px;
  font-weight: bold;
}

.ProfilePage__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 5px;
  margin-top: 32px;
  margin-bottom: 32px;

  font-size: 13px;
  font-weight: 500;
}

.ProfilePage__buttons div {
  height: 32px;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  border-radius: 44px;
  border: 1px solid var(--border-color);

  cursor: pointer;
}

.ProfilePage__buttons div:hover {
  background-color: var(--color-hover);
}

.ProfilePage__disclaimer {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  padding-top: 24px;
  margin-bottom: 120px;

  font-size: 11px;
  line-height: 1.5;

  color: var(--color-light-text);
}

.ProfilePage__disclaimer-show-more {
  align-self: self-start;

  color: var(--color-text-secondary);

  font-weight: bold;
}
