.ProfilePage {
  height: 100vh;
  width: 65vw;
  min-width: 600px;

  display: flex;
  flex-direction: column;
  align-content: center;

  margin: 120px auto 0;

  color: rgb(0, 0, 0);

  margin-bottom: 120px;
}

.ProfilePage__total {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 13px;
  font-weight: 500;
  margin-bottom: 24px;
}

.ProfilePage__total__balance {
  font-size: 28px;
  font-weight: 500;
}

.ProfilePage__investments {
  height: 180px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.ProfilePage__investments__header {
  height: 36px;

  display: flex;
  align-items: center;

  gap: 4px;
  padding-bottom: 16px;

  border-bottom: solid 1px var(--border-color);
}

.ProfilePage__investments__header__text {
  font-size: 18px;
  font-weight: bold;
}

.ProfilePage__investments__header__info-icon {
  font-size: 12px;
  cursor: pointer;
}

.ProfilePage__investments__header__info-icon:hover {
  font-size: 12px;
  background-color: rgb(237, 237, 237);
}

.ProfilePage__investments__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  gap: 12px;
}

.ProfilePage__investments__details__value {
  display: flex;
  justify-content: space-between;

  padding-right: 4px;
}

.ProfilePage__investments__details__value-text {
  font-weight: 500;
  font-size: 14px;
}

.ProfilePage__investments__details__value-subtext {
  font-weight: 500;
}

.ProfilePage__investments__details__subtext {
  font-size: 12px;

  color: rgb(165, 165, 165);
}

.ProfilePage__investments__details__dash {
  font-size: 20px;

  color: black;
}

.ProfilePage__overview {
  height: 200px;

  display: flex;
  flex-direction: column;
}

.ProfilePage__overview__title {
  height: 40px;

  font-size: 24px;
  font-weight: 700;
}

.ProfilePage__overview__buttons {
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.ProfilePage__overview__button {
  height: 100px;
  width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;

  background-color: var(--color-primary);

  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-bottom: 16px;
}

.ProfilePage__overview__button:hover {
  background-color: var(--color-primary-hover);
  color: white;
}

.ProfilePage__overview__percentage {
  font-weight: bold;
}

.ProfilePage__overview__description {
  height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 4px;
}

.ProfilePage__description__text {
  font-size: 12px;

  color: rgb(124, 124, 124);
}

.ProfilePage__description__subtext {
  font-size: 12px;
  font-weight: bold;
}

.ProfilePage__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 5px;
  margin-top: 10px;

  font-size: 13px;
  font-weight: 500;
}

.ProfilePage__buttons div {
  height: 32px;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  border-radius: 20px;
  border: 1px solid var(--border-color);

  cursor: pointer;
}

.ProfilePage__buttons div:hover {
  background-color: var(--color-highlight);
}

.ProfilePage__disclaimer {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  padding-top: 80px;

  font-size: 11px;
  line-height: 1.5;

  color: var(--color-light-text);
}

.ProfilePage__disclaimer-show-more {
  align-self: self-start;

  color: black;

  font-weight: bold;
}
