.home-page-body-container {
  color: rgb(0, 0, 0);
  margin-top: 85px;
  display: flex;
  position: relative;
  height: 100%;


}

.left-container {
  width: 75%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;

}

.left-container-top {
  padding-left: 10px;
  padding-right: 10px;
}

.left-header-1 {
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.left-banner {
  background-image: url("https://static.vecteezy.com/system/resources/previews/012/318/301/original/cute-astronaut-with-peaceful-hands-sitting-on-rocket-astronaut-icon-concept-flat-cartoon-style-suitable-for-web-landing-page-banner-flyer-sticker-card-vector.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 310px;
}

.left-header-2 {
  font-size: 40px;
  font-weight: bold;
  height: 100px;
  display: flex;
  align-items: center;
}


/* right container */
.right-container {
  position: fixed;
  right: 0;
  background-color: rgb(252, 202, 255);
  width: 25%;
  height: 900px
}
