.StockTransaction {
  position: sticky;
  top: 86px;
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;

  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.StockTransaction__header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 15px;
}

.StockTransaction__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 13px;
  /* height: 160px; */
  height: auto;
}

.StockTransaction_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 20px;
  font-size: 13px;

  border-radius: 3px;
}

.StockTransaction__order-section {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StockTransaction__order-section__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.StockTransaction__order-section__subtext {
  color: rgb(127, 127, 127);
}

.StockTransaction__info-icon {
  height: 14px;
  width: 14px;
}

.StockTransaction__order-section__select {
  height: 32px;
  width: 50%;
  border-radius: 5px;
  display: flex;
  position: relative;
}

.StockTransaction__order-section__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
  cursor: pointer;

}

.StockTransaction__input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgb(18, 18, 18);
  border-radius: 3px;
  height: 32px;
  width: 50%;
  padding-left: 5px;
  padding-right: 8px;
  margin-left: auto;
  margin-bottom: 4px;
}

.StockTransaction__input-wrapper:focus-within {
  border: 2px solid rgb(51, 209, 135);
}
.StockTransaction__dollar-sign {
  font-size: 14px;
}

.StockTransaction__amount-input {
  border: none;
  outline: none;
  width: 100%;
  text-align: right;

}

.StockTransaction__amount-input::-webkit-outer-spin-button,
.StockTransaction__amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .StockTransaction__amount-input[type=number] {
  -moz-appearance: textfield;
} */

.StockTransaction__line {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 1px;
}

.StockTransaction__estimate {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.StockTransaction__button-container {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.StockTransaction__button {
  width: 90%;
  height: 36px;
  border-radius: 20px;
  background-color: rgb(39, 242, 39);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.StockTransaction__button:hover{
  background-color: rgb(65, 248, 65);
}

.StockTransaction__estimate-amount {
  font-weight: bold;
}

.BuyInDropdown {
  position: absolute;
  width: 131px;
  top: 36px;
  left: -1px;
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.BuyInDropdown-option {
  height: 100%;
  width: 100%;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  /* border-radius-bottom: 5px; */
}

.BuyInDropdown-option-hover{
  background-color: aliceblue;
}

.BuyInDropdown-option:hover {
  background-color: aliceblue;
}

.buyInDropDownBorder {
  border: 1px solid rgb(51, 209, 135);
}

.checkmark-div {
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.BuyInDropdown-option-checkmark {
  height: 16px;
  width: 16px;
}


.StockTransaction__market-price{
  /* background-color: aqua; */
  height: 24px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.StockTransaction__market-price-title{
  color:rgb(44, 183, 118);
}
