.StockTransaction {
  height: auto;
  width: 100%;

  position: sticky;
  top: 86px;

  display: flex;
  flex-direction: column;

  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.StockTransaction__header {
  height: 50px;

  display: flex;
  align-items: center;

  gap: 8px;
  padding: 0 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 15px;
}

.StockTransaction__header-buy {
  height: 100%;
  width: auto;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.StockTransaction__header-selected {
  box-shadow: 0 2px 0 #33d187;
}

.StockTransaction__body {
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;

  font-size: 13px;
}

.StockTransaction_footer {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 20px;

  font-size: 13px;

  border-radius: 3px;
}

.StockTransaction__order-section {
  width: 100%;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StockTransaction__order-section__text {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.StockTransaction__order-section__subtext {
  color: rgb(127, 127, 127);
}

.StockTransaction__info-icon {
  height: 14px;
  width: 14px;
}

.StockTransaction__order-section__select {
  height: 32px;
  width: 50%;

  position: relative;

  display: flex;

  border-radius: 5px;
}

.StockTransaction__order-section__container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 8px;

  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);

  cursor: pointer;
}

.StockTransaction__input-wrapper {
  height: 32px;
  width: 50%;

  display: flex;
  align-items: center;

  padding-left: 5px;
  padding-right: 8px;
  margin-left: auto;
  margin-bottom: 4px;

  border: 1px solid rgb(18, 18, 18);
  border-radius: 3px;
}

.StockTransaction__input-wrapper:focus-within {
  border: 2px solid rgb(51, 209, 135);
}
.StockTransaction__dollar-sign {
  font-size: 14px;
}

.StockTransaction__amount-input {
  width: 100%;

  text-align: right;

  border: none;
  outline: none;
}

.StockTransaction__amount-input::-webkit-outer-spin-button,
.StockTransaction__amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.StockTransaction__line {
  width: 100%;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.1);
}

.StockTransaction__estimate {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  font-size: 13px;
}

.StockTransaction__button-container {
  height: 88px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.StockTransaction__button {
  width: 90%;
  height: 36px;

  margin-top: 20px;

  font-size: 12px;
  font-weight: bold;

  background-color: rgb(39, 242, 39);
  color: white;

  border-radius: 20px;
  border: none;

  cursor: pointer;
}

.StockTransaction__button:hover {
  background-color: rgb(65, 248, 65);
}

.StockTransaction__estimate-amount {
  font-weight: bold;
}

.BuyInDropdown {
  width: 131px;
  height: 88px;

  position: absolute;
  top: 36px;
  left: -1px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(255, 255, 255);

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.BuyInDropdown-option {
  height: 100%;
  width: 100%;

  display: flex;
  padding: 8px 0px;
  align-items: center;

  cursor: pointer;
  z-index: 20;
}

.BuyInDropdown-option-hover {
  background-color: aliceblue;
}

.BuyInDropdown-option:hover {
  background-color: aliceblue;
}

.buyInDropDownBorder {
  border: 1px solid rgb(51, 209, 135);
}

.checkmark-div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 4px;
}

.BuyInDropdown-option-checkmark {
  height: 16px;
  width: 16px;
}

.StockTransaction__market-price {
  height: 24px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-top: 10px;

  font-weight: bold;
}

.StockTransaction__market-price-title {
  color: rgb(44, 183, 118);
}

.StockTransaction_footer-sell {
  display: flex;

  gap: 4px;
}

.StockTransaction_footer-text {
  color: #33d187;

  cursor: pointer;
}
