.WelcomePage {
  display: grid;
  grid-template-rows: 66px 703px 300px 800px 100px;

  height: 100%;
  min-height: 100vh;

  background-color: #000000;
}

.WelcomePage__section-one,
.WelcomePage__section-two,
.WelcomePage__section-three {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section One */
.WelcomePage__section-one {
  flex-direction: column;

  background-color: #000000;
  background-image: url("https://cdn.pixabay.com/photo/2022/08/06/13/49/space-7368670_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Section One Title */
.WelcomePage__section-one__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  height: 30%;
  width: 70%;

  font-size: 3vw;

  color: white;
}

/* Section One Highlight */
.WelcomePage__section-one__highlight {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;

  width: 70%;
}

.WelcomePage__section-one__highlight > h1 {
  font-size: 4vw;
  color: rgb(198, 156, 194);
}

/* Section One Button */
#WelcomePage__section-one__button {
  box-sizing: border-box;
  padding: 0 32px;

  height: 44px;

  background-color: #ffffff;
  color: #1c180d;

  border: 1px solid #ffffff;
  border-radius: 36px;

  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

#WelcomePage__section-one__button:hover {
  background-color: rgb(197, 197, 197);
}


/* Section Two */
.WelcomePage__section-two {
  background-color: #535353;
}

/* Section One */
.WelcomePage__section-three {
  background-color: #272727;
}

/* Footer */
.WelcomePage__footer {
  padding: 1.5rem;

  text-align: center;

  font-size: 1.5rem;

  background-color: rgb(198, 156, 194);
  color: white;
}
