.UpdatePassword {
  font-size: 12px;
  font-weight: 500;
}

.UpdatePassword--active {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--color-hover);
}

.UpdatePassword__button {
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid var(--border-color);
}

.UpdatePassword--not-active {
  border-top: 1px solid var(--border-color);
}

.UpdatePassword--not-active:hover {
  background-color: var(--color-hover);
  box-shadow:
  /* Top */ 0px 0px 0px 0px var(--color-hover),
    /* Left */ -24px 0px 0px 0px var(--color-hover),
    /* Right */ 24px 0px 0px 0px var(--color-hover);
}

.UpdatePassword__edit-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-hover);

  padding: 20px;

  border-radius: 4px;
  gap: 16px;
}

.UpdatePassword__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UpdatePassword__input-container {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.UpdatePassword__input-label {
  font-weight: bold;
  text-align: left;
  width: clamp(120px, 20%, 150px);

  font-size: 12px;
}

.UpdatePassword__input-field {
  /* width: 50%; */
  /* max-width: 250px; */
  width: 160px;
  width: clamp(160px, 100%, 250px);
  padding: 8px;
  font-size: 12px;
  color: var(--color-text-primary);
  background-color: var(--modal-emoji-icons);

  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.UpdatePassword__input-field:focus {
  border: solid 1px var(--theme-primary-color);
  background-color: var(--color-surface);
}

.UpdatePassword__hide-icon {
  position: absolute;
  right: 28px;

  font-size: 16px;

  background-color: transparent;
  color: var(--color-text-primary);

  cursor: pointer;
}

.UpdatePassword__errors--border {
  border: 1px solid var(--theme-secondary-hover);
}

.UpdatePassword__errors {
  text-align: start;
  width: 300px;
  align-self: flex-end;
  font-size: 11px;

  margin-top: 8px;
  color: var(--theme-secondary-hover);
}

.UpdatePassword__button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 8px;
}

.UpdatePassword__cancel-button,
.UpdatePassword__save-button {
  width: 120px;

  padding: 10px 20px;

  font-size: 12px;
  font-weight: bold;

  border-radius: 20px;
}

.UpdatePassword__save-button {
  color: var(--color-background);
  background-color: var(--button-primary);
}

.UpdatePassword__save-button:hover {
  background-color: var(--button-primary-hover);
}

.UpdatePassword__cancel-button {
  color: var(--theme-primary-color);
  background-color: var(--color-surface);

  border: solid 1px var(--theme-primary-color);
}
.UpdatePassword__cancel-button:hover {
  background-color: var(--theme-primary-hover-light);
}

/* ====== Media Queries ====== */
/* * Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .UpdatePassword__edit-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface);

    border-radius: 4px;
    gap: 16px;
  }

  .UpdatePassword__input-label {
    font-size: 11px;
  }

  .UpdatePassword__input-field {
    font-size: 11px;
  }
}

/* * Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* * Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
