.UpdatePassword {
  font-size: 12px;
  font-weight: 500;
}

.UpdatePassword--active {
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.UpdatePassword__button {
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;


  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid var(--border-color);
}

.UpdatePassword--not-active {
  border-top: 1px solid var(--border-color);
}

.UpdatePassword--not-active:hover {
  background-color: var(--light-background-hover);
  background-color: var(--color-highlight);
  box-shadow:
  /* Top */ 0px 0px 0px 0px var(--color-highlight),
    /* Left */ -24px 0px 0px 0px var(--color-highlight),
    /* Right */ 24px 0px 0px 0px var(--color-highlight);
}

.UpdatePassword__edit-container {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 20px;

  border-radius: 4px;
  gap: 16px;
}

.UpdatePassword__section {
  display: flex;
  flex-direction: column;
}

.UpdatePassword__input-container {
  display: flex;

  /* margin-bottom: 8px; */
  align-items: center;
  justify-content: space-between;
}

.UpdatePassword__input-label {
  font-weight: bold;
  text-align: right;
  font-size: 12px;
}

.UpdatePassword__input-field {
  width: 300px;
  padding: 8px;
  font-size: 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.UpdatePassword__input-field:focus {
  border: 1px solid #38e850;
}

.UpdatePassword__hide-icon {
  position: absolute;
  right: 28px;

  font-size: 16px;

  background-color: transparent;
  color: rgb(0, 0, 0);

  cursor: pointer;
}

.UpdatePassword__errors--border {
  border: 1px solid rgb(236, 125, 46);
}

.UpdatePassword__errors {
  text-align: start;
  width: 300px;
  align-self: flex-end;

  margin-top: 8px;
  color: rgb(236, 125, 46);
}

.UpdatePassword__button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 8px;
}

.UpdatePassword__cancel-button,
.UpdatePassword__save-button {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 120px;
}

.UpdatePassword__cancel-button {
  background-color: #ffffff;
  border: 1px solid #38e850;
  color: #38e850;
  cursor: pointer;
}

.UpdatePassword__save-button {
  background-color: #38e850;
  color: white;
}

.UpdatePassword__cancel-button:hover {
  background-color: #ace8b2;
}

.UpdatePassword__save-button:hover {
  background-color: rgb(140, 215, 144);
}
