.WelcomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #000000;
}

.WelcomePage__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 70vmax;
  min-height: 600px;
  max-height: 600px;
}

.WelcomePage__hero {
  flex-direction: column;

  background-image: url("https://i.makeagif.com/media/4-24-2017/xzMHOc.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.WelcomePage__hero-title {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--spacing-sm);

  font-size: clamp(16px, 5vw, 2rem);
  font-weight: var(--font-weight-bold);

  color: var(--color-primary);
}

.WelcomePage__hero-highlight {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 60%;
  font-size: clamp(16px, 4vw, 32px);
}

.WelcomePage__hero-highlight > h1 {
  color: var(--color-accent);
}

.WelcomePage__hero-button {
  box-sizing: border-box;
  padding: var(--button-padding);

  height: var(--button-height);

  font-weight: var(--font-weight-bold);

  background-color: var(--color-background-white);

  border: none;
  border-radius: var(--button-border-radius-lg);

  text-decoration: none;
  white-space: nowrap;
}

.WelcomePage__hero-button:hover {
  background-color: var(--color-accent);
}

.WelcomePage__features {
  background-color: var(--color-tertiary);

  color: var(--color-background-white);
}

.WelcomePage__features-image {
  width: 400px;
  height: 400px;

  background-image: url("https://img.freepik.com/premium-photo/astronaut-sitting-computer-desk-with-computer-monitor-monitor-screen-generative-ai_902846-103881.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.WelcomePage__features-contents {
  padding: 32px 32px;
  gap: var(--spacing-sm);

  display: flex;
  flex-direction: column;
}

.WelcomePage__features-contents__header {
  font-size: 32px;
  font-size: clamp(16px, 3vw, 2rem);
  color: var(--color-accent);
}

.WelcomePage__features-contents__sub-header {
  font-size: 40px;
  font-size: clamp(18px, 4vw, 2rem);
  margin-bottom: var(--spacing-sm);
}

.WelcomePage__features-contents__text {
  font-size: 18px;
  font-size: clamp(14px, 1vw, 2rem);
  margin-bottom: var(--spacing-sm);
}

.WelcomePage__features-contents__disclosure {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  color: var(--color-accent);
}

.WelcomePage__features-contents__info-icon {
  font-size: 14px;
  color: var(--color-accent);
}

.WelcomePage__features-content__button {
  margin-top: 32px;
  min-height: 40px;
  width: 140px;

  background-color: var(--color-primary);
  color: var(--color-background-black);

  border: none;
  border-radius: var(--button-border-radius-lg);

  text-decoration: none;
  white-space: nowrap;

  font-weight: var(--font-weight-bold);
}

.WelcomePage__features-content__button:hover {
  background-color: var(--color-primary-hover);
}

.WelcomePage__join {
  flex-direction: column;

  gap: var(--spacing-xl);

  background-color: rgb(13, 15, 21);
}

.WelcomePage__join__image {
  height: 350px;
  width: 450px;

  background-image: url("https://www.shutterstock.com/image-vector/astronaut-sitting-on-planet-saturn-600nw-1989572933.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.WelcomePage__join__header {
  color: var(--color-accent);
  font-size: clamp(24px, 3vw, 2rem);
}

.WelcomePage__join__button {
  min-height: 40px;

  width: 140px;

  background-color: var(--color-primary);
  color: var(--color-background-black);

  border: none;
  border-radius: var(--button-border-radius-lg);

  text-decoration: none;
  white-space: nowrap;

  font-weight: var(--font-weight-bold);
}

.WelcomePage__join__button:hover {
  background-color: var(--color-primary-hover);
}

.WelcomePage__footer {
  padding: 1.5rem;

  text-align: center;

  font-size: 1.5rem;

  background-color: var(--color-primary);
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  /* Styles for tablets */
  .WelcomePage__features {
    flex-direction: column-reverse;
  }
}
