/* ========== Stock Overview Container ========== */

/* Main container for stock details */
.StockOverview {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* ========== Stock Name & Price ========== */

/* Stock name and price styling */
.StockOverview__name{
  font-size: 28px;
  font-weight: 700;
  margin: 0;

}
.StockOverview__price {
  font-size: 30px;
  font-weight: 500;
}

/* ========== Stock Change Section ========== */

/* Container for price change & market hours */
.StockOverview__section {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;

  font-size: 12px;
  font-weight: bold;
}

/* Positive price change */
.StockOverview__change {
  color: var(--percent-change-positive);
}

/* ========== Market Hours & Date Info ========== */

/* Market hours styling */
.StockOverview__market-hours {
  min-height: 16px;
  margin-top: 4px;

  font-size: 12px;
  font-weight: bold;

}

/* Stock trading day indicator */
.StockOverview__day {
  font-weight: 500;
}

/* ========== Color Indicators ========== */

/* Negative price movement */
.negative {
  color: var(--percent-change-negative);
}

/* Positive price movement */
.positive {
  color: var(--percent-change-positive);
}
