/* ========== Menu (Dropdown) Styles ========== */
/* Menu container */
.ListItemMenu {
  height: 100px;
  width: 150px;

  position: absolute;
  top: 38px;
  left: 92px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: var(--color-surface);

  border: var(--border);
  border-radius: var(--button-border-radius-md);

  z-index: 100;
}

/* ========== Menu Buttons ========== */
/* Buttons inside the Menu */
.ListItemMenu__button {
  display: flex;
  height: 100%;

  gap: 6px;
  text-align: center;
  align-items: center;
  padding-left: 10px;

  font-weight: var(--font-weight-bold);
  font-size: 11px;

  color: var(--color-text-primary);

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-text-primary);
  text-underline-offset: 3px;
  cursor: default;
}

/* Change background on hover */
.ListItemMenu__button:hover {
  background-color: var(--color-hover-secondary-light);
}

/* ========== List Item Icons ========== */
/* Icons used inside Menu (edit, rearrange, delete) */
.ListItemMenu__edit-icon,
.ListItemMenu__rearrange-icon,
.ListItemMenu__delete-icon {
  height: 14px;
  width: 14px;
}
