/* ========== Menu (Dropdown) Styles ========== */
/* Menu container */
.ListItemMenu {
  height: 100px;
  width: 150px;

  position: absolute;
  top: 38px;
  left: 92px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: var(--list-menu-button);

  border: 1px solid var(--border-color);
  border-radius: 4px;

  font-size: 14px;

  z-index: 100;
}

/* ========== Menu Buttons ========== */
/* Buttons inside the Menu */
.ListItemMenu__button {
  display: flex;
  height: 100%;

  gap: 6px;
  text-align: center;
  align-items: center;
  padding-left: 10px;

  font-weight: bold;
  font-size: 11px;

  color: var(--text-color);

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--text-color);
  text-underline-offset: 3px;

  background: none;
  border: none;
  outline: none;
  cursor: default;
}

/* Change background on hover */
.ListItemMenu__button:hover {
  background-color: var(--list-menu-button-hover);
}

/* ========== List Item Icons ========== */
/* Icons used inside Menu (edit, rearrange, delete) */
.ListItemMenu__edit-icon,
.ListItemMenu__rearrange-icon,
.ListItemMenu__delete-icon {
  height: 14px;
  width: 14px;
}
