.ListItemMenu {
  height: 100px;
  width: 150px;

  position: absolute;
  top: 38px;
  left: 110px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: var(--color-surface);

  border: var(--border);
  border-radius: var(--button-border-radius-md);

  z-index: 100;
}

.ListItemMenu__button {
  display: flex;
  height: 100%;

  gap: 6px;
  text-align: center;
  align-items: center;
  padding-left: 10px;

  font-weight: var(--font-weight-bold);
  font-size: 11px;

  color: var(--color-text-primary);

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-text-primary);
  text-underline-offset: 3px;
  cursor: default;
}

.ListItemMenu__button:hover {
  background-color: var(--color-hover-secondary-light);
}

.ListItemMenu__edit-icon,
.ListItemMenu__rearrange-icon,
.ListItemMenu__delete-icon {
  height: 14px;
  width: 14px;
}

.ListItemMenu__done-button {
  display: none;
}

@media (max-width: 480px) {
  .ListItemMenu {
    position: fixed;
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 160px;
  }

  .ListItemMenu__button {
    display: flex;
    height: 100%;

    gap: 12px;

    padding-left: 32px;

    font-weight: var(--font-weight-bold);
    font-size: 15px;

    color: var(--color-text-primary);

    text-decoration: none;
    cursor: pointer;

    border-bottom: 1px solid var(--border-color);
  }

  .ListItemMenu__rearrange {
    display: none;
  }

  .ListItemMenu__done-button {
    display: flex;
    padding-left: 0px;
    justify-content: center;
    color: var(--theme-primary-color);
  }
  .ListItemMenu__button:hover {
    background-color: var(--color-surface);
  }

  .ListItemMenu__edit-icon,
  .ListItemMenu__rearrange-icon,
  .ListItemMenu__delete-icon {
    height: 18px;
    width: 18px;
  }
}
