.HamburgerMenu__drop-down {
  position: absolute;
  top: 68px;
  right: 5px;

  width: 50px;
  height: 300px;

  background-color: var(--color-surface);

  border: 1px solid var(--border-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 8px 8px;

  border-radius: 44px;
  z-index: 150;
}

.HamburgerDropdown__icon {
  font-size: 22px;
}

.HamburgerDropdown__link {
  height: 40px;

  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.HamburgerDropdown__link:hover {
  color: var(--theme-primary-color);
}

.Tooltip {
  position: absolute;
  right: 50px;

  height: 28px;
  width: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 500;

  color: var(--theme-primary-color);
  background-color: var(--theme-primary-hover-light);

  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  border-right: 100%;
}

.Tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);

  /* Triangle Shape */
  width: 0;
  height: 0;
  border-left: 10px solid var(--theme-primary-hover-light);
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.HamburgerDropdown__link:hover .Tooltip {
  opacity: 1;
}

@media (min-width: 768px) {
  .HamburgerMenu__drop-down {
    display: none;
  }
}

@media (max-width: 480px) {
  .HamburgerMenu__drop-down {
    top: 42px;
  }
}
