.MoneyButtons {
  width: 100%;

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MoneyButtons__buttons {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 8px;
}

.MoneyButtons__button {
  height: 36px;
  width: auto;

  padding: 8px 16px;

  color: var(--color-text-primary);

  border-radius: 44px;
  border: 1px solid var(--border-color);

}

.MoneyButtons__button:hover {
  background-color: var(--color-hover);
}
