/* ========== Add To List Modal ========== */
/* Modal container and overlay */
.AddToListModal {
  position: fixed;
  top: 400px;
  /* bottom: 0; */
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.AddToListModal__emoji-wrapper {
  z-index: 1000;
}

.AddToListModal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.AddToListModal__container {
  position: absolute;
  height: 470px;
  width: 380px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;

}

/* ========== Modal Header ========== */
.AddToListModal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.AddToListModal__title {
  font-size: 18px;
  font-weight: 600;
}

/* Close Button */
.AddToListModal__close-button {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: none;
  outline: none;
}

.AddToListModal__close-button:hover {
  background-color: var(--light-background-hover);
  border-radius: 4px;
}

.AddToListModal__close-button-icon {
  height: 30px;
  width: 30px;
}

/* ========== Create New List Section ========== */
.AddToListModal__create-section {
  flex-direction: column;
  margin-bottom: 10px;
  overflow: auto;
  height: 330px;
}

/* Create New List Button */
.AddToListModal__create-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  cursor: pointer;


}

/* ========== Create New List Form ========== */
.AddToListModal__create-form {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 20;
  margin-top: 8px;
}

.AddToListModal__create-form__input-section {
  display: flex;
  position: relative;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Emoji Picker Button */
.AddToListModal__create-form__emoji-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(232, 232, 232);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* List Name Input */
.AddToListModal__create-form__input {
  box-sizing: border-box;
  padding: 2px 15px;
  width: 90%;
  height: 42px;
  margin-right: 1px;
  font-size: 12px;
  background-color: var(--color-highlight);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.AddToListModal__create-form__input:focus {
  border: solid 1px var(--color-primary);
}

/* Form Buttons */
.AddToListModal__create-form__buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
  margin-right: 1px;
}

.AddToListModal__create-form__button {
  padding: 0 20px;
  height: 32px;
  width: auto;
  font-size: 13px;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
}

/* Cancel and Create Buttons */
.AddToListModal__cancel-button {
  color: var(--color-primary);
  background-color: white;
  border: solid 1px var(--color-primary);
}

.AddToListModal__cancel-button:hover {
  background-color: var(--button-hover-light-green);
}

.AddToListModal__create-button {
  color: white;
  background-color: var(--color-primary);
  min-width: 102px;
  border: none;
}

.AddToListModal__create-button:hover {
  background-color: var(--color-primary-hover);
}

/* ========== Create New List Toggle Button ========== */
.AddToListModal__create-list-toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 36px;
  height: 64px;
  width: 48px;
  font-size: 24px;
  background-color: rgb(254, 237, 230);
  border-radius: 4px;
}

.AddToListModal__create-list-toggle__icon {
  color: rgb(255, 118, 58);
}

.AddToListModal__create-list-toggle__title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

/* ========== List Checkbox Section ========== */
.AddToListModal__list {
  display: flex;
  align-items: center;
}

.AddToListModal__list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Checkbox Styling */
.AddToListModal__list-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 13px;
  border: 0.2em solid rgb(255, 118, 58);
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Checked Checkbox */
input.checked {
  background-color: rgb(255, 118, 58);
  position: relative;
}

/* Checkbox Icon */
.AddToListModal__checkbox-icon {
  position: absolute;
  color: white;
  font-size: 24px;
  pointer-events: none;
  text-align: center;
  align-self: center;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
}

/* ========== Modal Footer ========== */
.AddToListModal__footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 10px;
}

.AddToListModal__footer__button {
  padding: 0 20px;
  height: 38px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  border-radius: 32px;
  cursor: pointer;
}

.AddToListModal__create-button {
  color: white;
  background-color: var(--color-primary);
  border: none;
}

.AddToListModal__create-button:hover {
  background-color: var(--color-primary-hover);
}

/* Disabled Button */
.AddToListModal__footer__button:disabled {
  background-color: var(--color-disabled);
}



.AddToListModal__item__container{
  /* background-color: aqua; */
  padding-bottom: 4px;
}
/* ========== List Item Icons ========== */
.AddToListModal__item__emoji {
  height: 60px;
  width: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
  background-color: rgb(234, 243, 248);
  border-radius: 4px;
}

/* ========== List Item Title ========== */
.AddToListModal__item__name {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: black;
}
