.NotificationPopsContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;

  transform: translateX(-50%);

  width: auto;

  display: flex;
  flex-direction: column;

  gap: 8px;
  z-index: 100;
}

.NotificationPopUp {
  height: 50px;
  width: 800px;

  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 500;

  background-color: var(--color-surface);
  color: var(--color-text-primary);

  border: solid 1px var(--border-color);

  padding: 12px 24px;
  border-radius: 8px;

  justify-content: space-between;
}

.NotificationPopUp.hidden {
  opacity: 0;
}

.NotificationPopUp-view {
  display: flex;

  gap: 8px;
  align-items: center;

  height: 34px;
  width: 34px;
}
.notification-message {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.NotificationPopUp-checkmark {
  height: 16px;
  width: 16px;

  margin-right: 8px;
  align-self: center;
  justify-self: center;

  background-color: var(--theme-primary-color);
  color: var(--color-background);

  border-radius: 50%;
}


