.NotificationPopsContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  display: flex;
  flex-direction: column;

  gap: 8px;
  z-index: 100;
}

.NotificationPopUp {
  background-color: var(--notification-background);
  color:var(--text-color);

  border: solid 1px var(--border-color);

  padding: 12px 24px;
  border-radius: 8px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */

  height: 50px;
  width: 800px;
  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
  justify-content: space-between;
}

.NotificationPopUp.hidden {
  opacity: 0;
}

.NotificationPopUp-view {
  display: flex;

  gap: 8px;
  align-items: center;

  height: 34px;
  width: 34px;
}
.notification-message {
  display: inline-flex;
  align-items: center;
  gap: 4px; /* space between icon and text */
}

.NotificationPopUp-checkmark{
  background-color: var(--green-button);
  color:var(--background-color);
  border-radius: 50%;
  height: 16px;
  width: 16px;

  /* font-size: 30px; */
  margin-right: 8px;
  align-self: center;
  justify-self: center;
}

/* .NotificationPopUp-icon {
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;

  height: 24px;
  width: 24px;

}

.NotificationPopUp-icon:hover {
  background-color: #535353;
} */

.NotificationPopUp-close-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 34px;
  width: 34px;
}

.NotificationPopUp-close-button:hover {
  background-color: var(--highlight-darkgrey);
  border-radius: 4px;
}

.NotificationPopUp-close-icon {
  color: var(--text-color-dark);
  height: 34px;
  width: 34px;
}
