.TransferModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);

  z-index: 100;


  transform: translateY(50%);
  transition: transform 0.3s ease-out
}

.TransferModal.open {

  transform: translateY(0);
}



.TransferModal-button-span {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;

  padding: 24px;

  cursor: pointer;
}

.TransferModal__container {
  min-width: 400px;
  max-width: 750px;
  width: 45vw;

  position: absolute;
  top: 12%;

  display: flex;
  flex-direction: column;

  padding: 16px 16px;

  border-radius: 5px;
}

.TransferModal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 24px;
}

.TransferModal__header-title {
  height: 50px;
  width: 100%;

  display: flex;

  font-size: 20px;
  font-weight: var(--font-weight-bold);
}

@media (max-width: 480px) {
  .TransferModal__container {
    top: 20%;
  }
}
