.ListItem {
  display: flex;
  justify-content: start;
  align-items: center;

  text-decoration: none;
  cursor: pointer;

  margin-bottom: 12px;
}

/* ----------------------------- */
/*  AddToListModal  */

.AddToListModal__item__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  /* padding: 0 10px; */

  height: 64px;
}

.AddToListModal__item__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  height: 60px;
  width: 45px;

  font-size: 24px;

  background-color: rgb(234, 243, 248);

  border-radius: 5px;
}

.AddToListModal__item__title {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;

  color: black;

  flex-direction: column;
}

/*  --------------- */

.WatchList__lists__ListItem {
  height: 55px;
}

.ListItem__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 10px;

  width: 100%;

  padding: 0 20px;
}

.WatchList__lists__ListItem:hover {
  background-color: rgb(239, 248, 247);
}

.ListItem__container:hover .ListItem__ellipsis {
  opacity: 1;
}

.ListItem__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  height: 35px;
  width: 27px;

  font-size: 13px;

  background-color: rgb(234, 243, 248);

  border-radius: 5px;
}

.ListItem__title {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;

  color: black;
}
.arrow-container {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.ListItem__ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 24px;
  width: 24px;

  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin-right: 6px;

  border-radius: 5px;
}

.ListItem__ellipsis-icon {
  color: rgb(0, 0, 0);
}

.ListItem__popover {
  position: absolute;
  top: 32px;
  left: 185px;
  padding: 5px 0;

  background: white;

  border: 1px solid #dadfdf;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(231, 231, 231, 0.1);

  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  justify-content: space-between;

  font-size: 14px;

  z-index: 100;
}

.ListItem__ellipsis:hover {
  background-color: rgb(244, 244, 244);
  opacity: 1;
}

.ListItem__button {
  padding: 4px;
  display: flex;
  gap: 4px;
  text-align: center;
  align-items: center;
  color: black;
  padding-left: 10px;

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: black;
  text-underline-offset: 3px;

  font-weight: bold;
  font-size: 12px;

  cursor: pointer;
}

.ListItem__button:hover {
  background-color: #f1f7ff;
}

.ListItem__button-icon {
  height: 16px;
  width: 16px;
}

.ListItem__ellipsis:active,
.ListItem__ellipsis:focus {
  outline: none; /* Removes outline around the icon */
  color: inherit; /* Prevents color changes on click */
  background-color: inherit;
}

.ListItem__arrow-icon {
  font-size: 20px;
  transition: transform 0.3s ease; /* Smooth rotation transition */
}

.ListItem__arrow-icon.open {
  transform: rotate(180deg); /* Rotates the arrow */
}

.ListItem__arrow-icon:hover {
  color: rgb(37, 240, 172);
}
