/* ========== Buying Power Dropdown ========== */

.BuyingPowerDropDown--highlight {
  background-color: var(--color-hover);
  box-shadow:
  /* Top */ 0px 0px 0px 0px var(--color-hover),
    /* Left */ -24px 0px 0px 0px var(--color-hover),
    /* Right */ 24px 0px 0px 0px var(--color-hover);
  border-radius: 4px;
}

/* Toggle button for opening/closing the dropdown */
.BuyingPowerDropDown__toggle {
  height: 65px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--font-size-text-md);
  font-weight: var(--font-weight-bold);

  border-bottom: 1px solid var(--border-color);

  cursor: pointer;
}

.BuyingPowerDropDown__toggle:hover {
  background-color: var(--color-hover);
  box-shadow:
  /* Top */ 0px 0px 0px 0px var(--color-hover),
    /* Left */ -24px 0px 0px 0px var(--color-hover),
    /* Right */ 24px 0px 0px 0px var(--color-hover);
  /* border-radius: 4px; */
}

/* Container for displaying balance information */
.BuyingPowerDropDown__balance {
  height: 100%;
  width: 100px;

  display: flex;
  justify-content: end;
  align-items: center;

  gap: 8px;
}

/* Dropdown content container */
.BuyingPowerDropDown__dropdown {
  height: 170px;

  display: flex;
  justify-content: end;

  padding: 12px 0;

  font-size: var(--font-size-text-sm);
  font-weight: var(--font-weight-normal);
}

/* Main section within the dropdown */
.BuyingPowerDropDown__dropdown-main {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Summary area of the dropdown */
.BuyingPowerDropDown__summary {
  height: 60%;

  border-bottom: 2px solid var(--border-color);
}

/* Text container within the summary */
.BuyingPowerDropDown__summary-text {
  height: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BuyingPowerDropDown__summary-value {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

/* Container for the button in the dropdown */
.BuyingPowerDropDown__button-container {
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styled button within the dropdown */
.BuyingPowerDropDown__button {
  height: 40px;
  width: 50%;
  min-width: 130px;

  margin-top: 10px;

  font-size: var(--font-size-button-sm);
  font-weight: var(--font-weight-bold);

  background-color: var(--button-primary);
  color: var(--color-background);

  border-radius: var(--button-border-radius-lg);
}

.BuyingPowerDropDown__button:hover {
  background-color: var(--button-primary-hover);
}

.BuyingPowerDropDown__arrow-icon {
  font-size: var(--icon-size-md);

  transition: transform 0.3s ease;
}

/* Rotate arrow when list is open */
.BuyingPowerDropDown__arrow-icon.open {
  transform: rotate(180deg);
}
