/*  */
.BuyingPowerDropDown {
  height: 170px;

  display: flex;
  justify-content: end;

  padding: 12px 0;

  font-size: var(--font-size-text-sm);
  font-weight: var(--font-weight-normal);
}

.BuyingPowerDropDown__main {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.BuyingPowerDropDown__details {
  height: 60%;

  border-bottom: 2px solid var(--border-color);
}

.BuyingPowerDropDown__label {
  height: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BuyingPowerDropDown__value {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.BuyingPowerDropDown__buttons {
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.BuyingPowerDropDown__button {
  height: 40px;
  width: 50%;
  min-width: 130px;

  margin-top: 10px;

  font-size: var(--font-size-button-sm);
  font-weight: var(--font-weight-bold);

  background-color: var(--color-background-inverse);
  color: var(--color-text-inverse);

  border-radius: var(--button-border-radius-lg);
}

.BuyingPowerDropDown__button:hover {
  background-color: var(--button-hover-inverse);
}

@media (max-width: 768px) {
  .BuyingPowerDropDown {
    height: 170px;
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 12px 0;

    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-normal);
  }

  .BuyingPowerDropDown__main {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
