.StocksOwnedItem__container-subtitle{
  font-size: 14px;
}

.WatchListStocks-stocks-owned-empty{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 15px;
}

.WatchListStocks__container-graph{
/* background-color: aqua; */
/* width: 10px; */
display: flex;
}
