/* ========== List Item Base Styles ========== */
.ListItem {
  display: flex;
  justify-content: start;
  align-items: center;

  cursor: pointer;
}

/* Lists Side Bar Styling Only  */
.Lists__ListItem {
  height: 55px;
}

.Lists__ListItem:hover {
  background-color: var(--color-hover);
}

/* ========== List Item Container ========== */
.ListItem__container {
  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
  padding: 0 12px;

  color: var(--color-text-primary);
}

/* ========== List Item Header ========== */
.ListItem__header {

  display: flex;
  align-items: center;
  padding: 4px 8px;

  border-radius: var(--border-radius-sm);

}

/* Hover effect for header */
.ListItem__header-hover:hover {
  background-color: var(--color-hover-secondary-dark);
}

/* ========== List Item Emoji & Name ========== */
/* Emoji inside the list item */
.ListItem__emoji {
  height: 35px;
  width: 27px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
  font-size: var(--font-size-input);

  background-color: var(--color-hover);
  border-radius: var(--border-radius-sm);
}

/* Stock/list name inside the list item */
.ListItem__name {
  font-size: var(--font-size-text-xs);
  font-weight: var(--font-weight-normal);
}

.ListItem__name-container {
  display: flex;
  flex-direction: column;

  gap: 2px;

}

.ListItem__item-count {
  font-size: var(--font-size-text-xs);
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-normal);


}
