.InvestingPage {
  width: clamp(430px, 85vw, 1000px);

  display: flex;
  flex-direction: column;

  margin: 0px auto 0;
  margin-bottom: 100px;
  margin-top: 30px;

  background-color: var(--color-background);
  color: var(--color-text-primary);
}


/* ====== Media Queries ====== */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .InvestingPage {
    width: 90vw;

  }

  .InvestingPage__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
  }

  .InvestingPage__chart-container {
    margin-left: 0px;
  }
}
