.MobileListSideBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 48px);
  overflow: scroll;

  background-color: var(--color-background);

  z-index: 100;
}

.MobileListSideBar__skeleton-stocks-header {
  display: flex;
  flex-direction: column;

  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.MobileListSideBar__skeleton-stocks {
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.MobileListSideBar__skeleton-lists-header {
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.MobileListSideBar__skeleton-lists {
  margin-top: 16px;
  margin-bottom: 32px;

  margin-left: 16px;
  margin-right: 16px;
}
