.WatchList {
  margin-top: 30px;
}

.WatchList-Stocks-container {
  position: sticky;
  top: 86px;

  display: flex;
  flex-direction: column;
  margin-left: 36px;

  height: 86vh;
  width: 300px;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

  overflow: auto;
  scrollbar-width: none;
}

.WatchList-HomePage-container {
  position: sticky;
  top: 85px;
  width: 340px;
  height: 86vh;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  scrollbar-width: none;
}

/* .WatchList-StockPage-container{
  position: sticky;
  top: 85px;
  width: 300px;
  height: 86vh;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-right: 20px;
} */

.WatchList__header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  height: 50px;
  min-height: 50px;

  font-weight: bold;
  border-bottom: 1px solid #ddd;

  margin-bottom: 8px;

  /* margin-right: 2px; */
}

.WatchList__lists {
  position: relative;

  flex-grow: 1;
  min-height: 0;

  scrollbar-width: none;
  /* border-bottom: 1px solid #ddd; */
}

.WatchList__create-list-icon {
  cursor: pointer;
}

.WatchList__create-list-icon:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.WatchList__create-list-span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.WatchList__create-list-span:hover {
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
}
