:root {
  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Typography */
  --font-base: 16px;
  --font-sm: 14px;
  --font-lg: 20px;
  --font-xl: 24px;
  --font-family-sans: "Montserrat", sans-serif;
  --line-height: 1.5;
  --font-weight-normal: 500;
  --font-weight-bold: 700;

  /* Font Sizes */
  --font-size-title: 14px;
  --font-size-input: 13px;
  --font-size-text: 13px;
  --font-size-button: 12px;
  --font-size-subtext: 11px;

  /* Base Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text: #333;
  --color-muted: #888;
  --color-lightgrey: rgb(231, 231, 231);
  --color-light-text: rgb(106, 114, 120);

  /* Accent Colors */
  --color-primary: #07de96;
  --color-primary-hover: rgb(7, 239, 162);
  --color-secondary: #ca63fc;
  --color-tertiary: rgb(22, 7, 40);

  /* Status Colors */
  --percent-change-positive: rgb(44, 202, 4);
  --percent-change-negative: rgb(255, 29, 4);
  --percent-change-orange: rgb(248, 124, 14);

  /* Border Colors */
  --border-color: rgb(227, 233, 237);
  --border-color-2: rgb(48, 54, 58);

  /* Button Colors */
  --button-green: rgb(0, 200, 5);
  --button-green-hover: rgb(0, 180, 5, 1);
  --button-light-green: rgb(211, 255, 240);
  --button-hover-light-green: rgb(223, 255, 230);
  --button-orange: rgb(255, 80, 1);
  --button-orange-hover: rgb(214, 68, 1);
  --button-light-orange: rgb(252, 222, 208);

  /* Theme Colors */
  --theme-color-teal: #07de96;
  --theme-color-teal-hover: rgb(7, 239, 162);
  --theme-color-purple: #ca63fc;
  --theme-color-blue: #007bff;
  --theme-color-red: #dc3545;
  --theme-color-yellow: #f0ad4e;
  --theme-color-green: #28a745;

  /* Background Colors */
  --background-color-light: rgb(255, 255, 255);
  --background-color-dark: rgb(0, 0, 0);
  --background-color-darkgrey: rgb(30, 33, 37);
  --color-highlight: rgba(245, 248, 250);

  /* Hover Colors */
  --hover-lightgrey: rgb(237, 237, 237);
  --hover-black: #1e2125;
  --color-accent: #e0e0e0;
  --dark-grey: #1e2125;

  /* Button Styles */
  --button-padding: 0 32px;
  --button-height: 40px;
  --button-large-height: 40px;
  --button-large-width: 100%;
  --button-large-font-size: 12px;
  --button-large-font-weight: bold;
  --button-large-border-radius: 44px;
  --button-small-padding: 0 20px;
  --button-small-height: 32px;
  --button-small-width: 100%;
  --button-small-font-size: 12px;
  --button-small-font-weight: bold;
  --button-small-border-radius: 44px;

  /* Border Radius */
  --border-radius-xs: 5px;
  --button-border-radius-lg: 36px;

  /* Modal Styles */
  --modal-position-top: 0;
  --modal-position-bottom: 15%;
  --modal-position-left: 0;
  --modal-position-right: 0;
  --modal-container-height: 468px;
  --modal-container-width: 364px;
  --modal-container-padding: 16px 24px;
  --modal-font-size-title: 16px;
  --modal-font-size-text: 14px;
  --modal-font-weight-title: 600;
  --modal-font-weight-text: 500;

  /* Close Button */
  --close-button-height: 34px;
  --close-button-width: 34px;
  --close-button-border-radius: 4px;
  --close-button-hover: rgb(237, 237, 237);
  --close-button-icon-height: 32px;
  --close-button-icon-width: 32px;
}

.dark-mode {
  --background-color: #000000;
  --background-color-secondary: rgb(30, 33, 37);

  --text-color: #ffffff;
  --secondary-text-color: rgb(140, 155, 161);

  --border-color: rgb(48, 54, 58);

  --highlight-color: rgb(30, 33, 37);

  --icon-color: rgb(145, 159, 166);
  --icon-hover-color: rgb(24, 24, 24);

  --list-item-hover: rgb(22, 22, 24);

  --modal-background: rgb(30, 33, 37);
  
  --list-menu-button-hover: rgb(48, 54, 58);

  --list-menu-button: rgb(30, 33, 37);
  --list-menu-button-hover: rgb(48, 54, 58);

  --search-results: rgb(30, 33, 37);
  --search-results-hover: rgb(48, 54, 58);

  --account-dropdown: rgb(30, 33, 37);
  --account-dropdown-hover: rgb(48, 54, 58);

  --button-primary: #ffffff;
  --button-hover-primary: #e0e0e0;

  --button-primary-inverted: #000000;
  --button-hover-primary-inverted: #1e2125;
}

.light-mode {
  --background-color: #ffffff;
  --background-color-secondary: rgb(255, 255, 255);
  --text-color: #000000;
  --secondary-text-color: rgb(207, 209, 211);
  --border-color: rgb(227, 233, 237);
  --icon-color: rgb(106, 114, 120);

  /* background when hovering over icons */
  --icon-hover-color: rgb(255, 255, 255);

  /* hovering over links */
  --highlight-color: rgb(237, 237, 237);
}
