.dark-mode {
  /* Background Colors */
  --color-background: #000000; /* Background color for pages */
  --color-surface: rgb(30, 33, 37); /* Surface color for cards and modals */
  --color-surface-secondary: rgb(48, 54, 58); /* Light grey background */
  --color-background-inverse: #ffffff;

  /* Border Colors */
  --border-color: rgb(48, 54, 58); /* For borders, dividers, etc. */

  /* Text Colors */
  --color-text-primary: #ffffff; /* Main text color */
  --color-text-secondary: rgb(140, 155, 161); /* Secondary text color */
  --color-text-inverse: #000000;

  /* Hover Colors */
  --color-hover: rgb(30, 33, 37);
  --color-hover-secondary-light: rgb(48, 54, 58);
  --color-hover-secondary-dark: rgb(22, 22, 24);

  /* Scrollbar Colors */
  --scrollbar-track-color: rgb(44, 44, 44);
  --scrollbar-thumb-color: rgb(107, 107, 107);
  --scrollbar-thumb-hover-color: rgb(83, 83, 83);

  /* ========= Default Theme ========= */
  /* Theme: Primary */
  --theme-primary-color: rgb(0, 200, 5);
  --theme-primary-hover: rgb(0, 180, 5, 1);
  --theme-primary-hover-light: rgb(2, 88, 5);

  /* Theme: Secondary */
  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);

  /* Button Colors */
  /* Primary Buttons */
  --button-primary: var(--theme-primary-color);
  --button-primary-hover: var(--theme-primary-hover);
  --button-primary-hover-light: var(--theme-primary-hover-light);

  /* Secondary Buttons */
  --button-secondary: var(--theme-secondary-color);
  --button-secondary-hover: var(--theme-secondary-hover);
  --button-secondary-hover-light: var(--theme-secondary-hover-light);

  /* Disabled Button */
  --disabled-button-color: rgb(98, 108, 112);

  /* Inverse button hover */
  --button-hover-muted: rgb(40, 40, 40);
  --button-hover-inverse: rgb(236, 236, 236);

  /* Icons */
  --icon-color: rgb(145, 159, 166);
  --icon-color-hover: rgb(24, 24, 24);

  /* Overlay */
  --disabled-overlay-color: rgb(30, 33, 37, 0.7);
}

.theme-green {
  --theme-primary-color: rgb(0, 200, 5);
  --theme-color-green-hover: rgb(0, 180, 5, 1);
  --theme-color-green-hover-transparent: rgb(223, 255, 230);

  --theme-secondary-color: rgb(255, 80, 1);
  --theme-secondary-hover: rgb(231, 91, 27, 0.9);
  --theme-secondary-hover-light: rgb(83, 43, 28);
}

.theme-orange {
  --theme-primary-color: rgb(255, 80, 1);
  --theme-primary-hover: rgb(231, 91, 27, 0.9);
  --theme-primary-hover-light: rgb(255, 80, 1, 0.2);

  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);
}

.theme-teal {
  --theme-primary-color: rgb(7, 222, 150);
  --theme-primary-hover: rgb(7, 239, 162);
  --theme-primary-hover-light: rgb(7, 239, 162, 0.2);

  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);
}

.theme-pink {
  --theme-primary-color: rgb(218, 65, 107);
  --theme-primary-hover: rgba(196, 59, 96, 1);
  --theme-primary-hover-light: rgba(218, 65, 107, 0.3);
}

.theme-blue {
  --theme-primary-color: rgb(0, 127, 245);
  --theme-primary-hover: rgba(0, 114, 221, 1);
  --theme-primary-hover-light: rgba(0, 127, 245, 0.3);

  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);
}

.theme-red {
  --theme-primary-color: rgb(220, 38, 38);
  --theme-primary-hover: rgb(185, 28, 28);
  --theme-primary-hover-light: rgb(220, 38, 38, 0.2);
}

.theme-purple {
  --theme-primary-color: rgb(136, 58, 234);
  --theme-primary-hover: rgb(118, 48, 214);
  --theme-primary-hover-light: rgba(136, 58, 234, 0.2);

  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);
}

.theme-yellow {
  --theme-primary-color: rgb(255, 193, 7);
  --theme-primary-hover: rgb(230, 170, 0);
  --theme-primary-hover-light: rgba(255, 193, 7, 0.3);

  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);
}

.theme-grey {
  --theme-primary-color: rgb(94, 94, 94);
  --theme-primary-hover: rgb(119, 119, 119);
  --theme-primary-hover-light: rgba(94, 94, 94, 0.3);

  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);
}

.theme-cyan {
  --theme-primary-color: rgb(0, 188, 212);
  --theme-primary-hover: rgb(3, 204, 231);
  --theme-primary-hover-light: rgb(0, 188, 212, 0.3);

  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);
}

.theme-coral {
  --theme-primary-color: rgb(255, 105, 97);
  --theme-primary-hover: rgb(254, 125, 118);
  --theme-primary-hover-light: rgb(255, 105, 97, 0.2);

  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);
}

.theme-lavender {
  --theme-primary-color: rgb(230, 190, 255);
  --theme-primary-hover: rgb(234, 202, 254);
  --theme-primary-hover-light: rgb(230, 190, 255, 0.2);

  --theme-secondary-color: var(--theme-primary-color);
  --theme-secondary-hover: var(--theme-primary-hover);
  --theme-secondary-hover-light: var(--theme-primary-hover-light);
}
