.dark-mode {
  --disabled-button-color: rgb(98, 108, 112);
  --disabled-overlay-color: rgb(30, 33, 37, 0.7);

  --icon-color: rgb(145, 159, 166);
  --icon-hover-color: rgb(24, 24, 24);

  --color-hover-secondary: rgb(22, 22, 24);

  --list-menu-button-hover: rgb(48, 54, 58);

  --list-menu-button: rgb(30, 33, 37);
  --list-menu-button-hover: rgb(48, 54, 58);

  --search-results: rgb(30, 33, 37);
  --color-hover-secondary: rgb(48, 54, 58);

  --account-dropdown: rgb(30, 33, 37);
  --account-dropdown-hover: rgb(48, 54, 58);

  --modal-emoji-icons: rgb(48, 54, 58);

  --button-primary: #ffffff;
  --button-hover-primary: #ececec;

  --button-primary-inverted: #000000;
  --button-hover-primary-inverted: #1e2125;

  --green-button: rgb(0, 200, 5);
  --green-button-light-hover: rgb(2, 88, 5);

  /* FINISHED STYLES BELOW */

  /* DARK MODE */

  /* Background Colors */
  --color-background: #000000; /* Background color for pages */
  --color-surface: rgb(30, 33, 37); /* Surface color for cards and modals */
  --color-surface-secondary: rgb(48, 54, 58); /* Light grey background */

  /* Border Colors */
  --border-color: rgb(48, 54, 58); /* For borders, dividers, etc. */

  /* Text Colors */
  --color-text-primary: #ffffff; /* Main text color */
  --color-text-secondary: rgb(140, 155, 161); /* Secondary text color */

  /* Hover Colors */
  --color-hover: rgb(30, 33, 37);
  --color-hover-secondary-light: rgb(48, 54, 58);
  --color-hover-secondary-dark: rgb(22, 22, 24);

  /* Scrollbar Colors */
  --scrollbar-track-color: rgb(44, 44, 44);
  --scrollbar-thumb-color: rgb(107, 107, 107);
  --scrollbar-thumb-hover-color: rgb(83, 83, 83);

  /* ========= Default Theme ========= */
  /* Theme: Primary */
  --theme-primary-color: rgb(0, 200, 5);
  --theme-primary-hover: rgb(0, 180, 5, 1);
  --theme-primary-hover-light: rgb(2, 88, 5);

  /* Theme: Secondary */
  --theme-secondary-color: rgb(255, 80, 1);
  --theme-secondary-hover: rgb(231, 91, 27, 0.9);
  --theme-secondary-hover-light: rgb(83, 43, 28);

  /* Button Colors */
  /* Primary Buttons */
  --button-primary: var(--theme-primary-color);
  --button-primary-hover: var(--theme-primary-hover);
  --button-primary-hover-light: var(--theme-primary-hover-light);

  /* Secondary Buttons */
  --button-secondary: var(--theme-secondary-color);
  --button-secondary-hover: var(--theme-secondary-hover);
  --button-secondary-hover-light: var(--theme-secondary-hover-light);
}

.theme-green {
  --theme-primary-color: rgb(0, 200, 5);
  --theme-color-green-hover: rgb(0, 180, 5, 1);
  --theme-color-green-hover-transparent: rgb(223, 255, 230);
}

.theme-orange {
  --theme-primary-color: rgb(255, 80, 1);
  --theme-primary-hover: rgb(231, 91, 27, 0.9);
  --theme-primary-hover-light: rgb(255, 239, 232);
}
