.Lists__header {
  height: 50px;
  min-height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  font-weight: bold;
  font-size: var(--font-size-text-md);

  border-bottom: var(--border);
}

.Lists__create-button {
  height: 24px;
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--icon-color);
}

.Lists__create-button-icon{
  height: 14px;
  width: 14px;

  color: var(--icon-color);
}

.Lists__create-button:hover {
  background-color: var(--icon-color-hover);
  border-radius: var(--border-radius-sm);
}

.Lists__container {
  position: relative;
}
