/* ========== List Editor ========== */
.ListEditor {
  margin-top: 30px;
}

/* Emoji button for selecting an emoji */
.ListEditor__emoji-button {
  height: 64px;
  width: 64px;

  margin-bottom: 8px;
  margin-left: 8px;

  font-size: 48px;

  border: solid 1px var(--border-color);

  border: none;
  border-radius: 4px;
}

/* Change background color when hovered */
.ListEditor__emoji-button:hover {
  background-color: var(--color-hover);
}

/* Wrapper for the emoji picker dropdown */
.ListEditor__emoji-picker-wrapper {
  position: absolute;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Container for the list name input field */
.ListEditor__name {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Input field for editing the list name */
.ListEditor__name-input {
  width: 90%;
  height: 48px;

  padding-left: 8px;

  font-size: 24px;
  font-weight: 500;

  color: var(--color-text-primary);
  background-color: var(--color-backgrounds);

  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  border: none;

  outline: none;
  cursor: pointer;
}

/* Change background when hovered */
.ListEditor__name-input:hover {
  background-color: var(--color-surface);
}

/* Change border and background color when focused */
.ListEditor__name-input:focus {
  background-color: var(--color-backgrounds);

  border: 2px solid red;
}

/* Button for opening the menu (three-dot menu or options) */
.ListEditor__menu-button {
  height: 18px;
  width: 20px;

  color: var(--icon-color);

  cursor: pointer;
}

/* Change color on hover */
.ListEditor__menu-button:hover {
  color: var(--theme-primary-color);
}

/* Subtitle text below the list name */
.ListEditor__subtitle {
  display: flex;
  align-items: center;

  margin-left: 8px;

  font-size: 12px;
  font-weight: 500;

  color: var(--color-text-secondary);
}

/* Popover that appears when the delete button is clicked */
.ListEditor__delete-popover {
  position: absolute;
  right: -10px;
  top: 40px;
  z-index: 20;

  height: 50px;
  width: auto;
  padding: 16px;

  background-color: var(--color-background);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  font-size: 13px;
  font-weight: bold;

  border-radius: 4px;
  border: 1px solid var(--border-color);

  cursor: pointer;
}

/* Change color when hovered */
.ListEditor__delete-popover:hover {
  color: rgb(55, 225, 33);
}

/* Icon inside the delete popover */
.ListEditor__delete-icon {
  font-size: 20px;
}
