.stocks {
  display: flex;
  flex-direction: column;
  margin-top: 85px;

  height: 100vh;
  min-height: 123vh;
}
.stocks-nav {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: rgb(36, 240, 172);
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
}
.scrolled {
  background-color: rgb(255, 255, 255);
}

.stocks__header {
  background-color: rgb(36, 240, 172);
  background-image: url("https://png.pngtree.com/png-vector/20230728/ourmid/pngtree-boost-clipart-cartoon-rocket-ship-traveling-into-the-space-vector-png-image_6796486.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 40%;

  height: 30%;
  max-height: 225px;
  width: 100%;
}

.stocks__body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.stocks__body-left {
  display: flex;
  flex-direction: column;
  width: 620px;
  margin-right: 6px;
  padding-bottom: 100px;
}

/* max-height: 100px; */
/* height: 1500px; */
/* overflow-y: auto; */
/* position: sticky; */
/* top: 85px;  */

.stocks__section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stocks__section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 60%;
  gap: 5px;
  margin-left: 0px;
}

.stock__hide--header {
  height: 58px;
}

.stocks__title {
  font-size: 20px;
  font-weight: bold;
}

.stocks__subtitle {
  font-size: 14px;
  color: #3e3e3e;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 2px;
}

.green-checkmark {
  color: rgb(118, 215, 183);
  height: 10px;
  width: 10px;
}

.stocks__actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 40%;
  gap: 17px;
}

.stocks__btn--settings {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.stocks__btn--settings:hover {
  color: rgb(118, 215, 183);
}

.stocks__btn--follow {
  align-self: center;
  text-decoration: none;

  align-items: center;

  border-radius: 36px;
  box-sizing: border-box;
  height: 32px;
  width: 86px;

  position: relative;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid rgb(118, 215, 183);
  color: rgb(118, 215, 183);
  cursor: pointer;
  font-weight: bold;
  font-size: 11px;

  cursor: pointer;
}

.stocks__btn--follow:hover {
  background-color: rgb(228, 255, 246);
}

.stocks__description {
  height: 40px;
}

.stock__hide--description {
  display: none;
}

.stock__hide--description.fade-out {
  opacity: 0;
}

.stocks__table-container {
  display: block;
  height: 90vh;
  scrollbar-width: none;
  overflow-y: auto;
  margin-top: 8px;
}

.stocks__table {
  max-height: 600px;
  height: auto;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.stocks__table thead {
  text-align: left;

  height: 40px;
  font-size: 13px;
  color: rgb(130, 130, 130);
  cursor: pointer;

  position: sticky;
  top: 0;
  background-color: white;
}

.stocks__table thead th:hover {
  color: rgb(118, 215, 183); /* Change text color on hover */
}

.stocks__table th,
.stocks__table td {
  border-bottom: 1px solid #ddd;
}

.stocks__table td {
  cursor: pointer;
}

.stocks__table th:nth-of-type(1),
.stocks__table td:nth-of-type(1) {
  text-align: left;
  width: 140px;
}

.stock-row:hover {
  background-color: rgb(242, 248, 250);
}

.stocks__table tbody tr {
  height: 50px;
  font-size: 13px;
}

.stocks__table tbody tr {
  height: 54px;
  font-size: 13px;
}

.stocks__table tbody tr td:first-child {
  font-weight: bold;
}

.stocks__btn--add {
  background: none;
  border: none;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin-left: 70px;
}

.stocks__btn--add:hover {
  color: rgb(63, 242, 186);
}

.stocks__disclaimer {
  display: flex;
  /* justify-content: center; */
  align-items: start;
  /* height: 100px; */
  font-size: 14px;
  color: rgb(130, 130, 130);
}

.stocks__body-right {
  /* background-color: rgb(0, 145, 94);
  width: 270px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; */
  margin-top: 30px;
}

.stocks__lists {
  /* background-color: rgb(220, 255, 95); */
  height: 86vh;
  position: sticky;
  top: 85px;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.stocks__lists-header {
  height: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.stocks__list-items {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
}

.stocks__list-item {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
  text-decoration: none;
}

.stocks__list-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.stocks__list-icon {
  background-color: rgb(234, 243, 248);
  height: 35px;
  width: 27px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.stocks__list-name {
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 13px;
}
