.stocks {
  height: 100vh;
  min-height: 123vh;

  display: flex;
  flex-direction: column;

  margin-top: 85px;
}
.stocks-nav {
  height: 80px;
  width: 100%;

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  padding-top: 5px;

  background-color: rgb(36, 240, 172);

  z-index: 2;
}
.scrolled {
  background-color: rgb(255, 255, 255);
}

.stocks__header {
  height: 30%;
  max-height: 225px;
  width: 100%;

  background-color: rgb(36, 240, 172);
  background-image: url("https://png.pngtree.com/png-vector/20230728/ourmid/pngtree-boost-clipart-cartoon-rocket-ship-traveling-into-the-space-vector-png-image_6796486.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 40%;
}

.stocks__body {
  height: 100vh;

  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;

  gap: 20px;
}

.stocks__body-left {
  width: 620px;

  display: flex;
  flex-direction: column;

  margin-right: 6px;
  padding-bottom: 100px;
}

.stocks__section {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.stocks__section-header {
  height: 100px;
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5px;
  margin-left: 0px;
}

.stock__hide--header {
  height: 58px;
}

.stocks__title {
  font-size: 20px;
  font-weight: bold;
}

.stocks__subtitle {
  display: flex;
  align-items: center;

  gap: 2px;
  margin-top: 2px;

  font-size: 14px;
  color: #3e3e3e;
}

.green-checkmark {
  height: 10px;
  width: 10px;

  color: rgb(118, 215, 183);
}

.stocks__actions {
  width: 40%;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  gap: 17px;
}

.stocks__btn--settings {
  height: 20px;
  width: 20px;

  cursor: pointer;
}

.stocks__btn--settings:hover {
  color: rgb(118, 215, 183);
}

.stocks__btn--follow {
  height: 32px;
  width: 86px;

  position: relative;

  align-self: center;
  align-items: center;
  text-align: center;

  font-weight: bold;
  font-size: 11px;

  background-color: #ffffff;
  color: rgb(118, 215, 183);

  border: 1px solid rgb(118, 215, 183);
  border-radius: 36px;

  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.stocks__btn--follow:hover {
  background-color: rgb(228, 255, 246);
}

.stocks__description {
  height: 40px;
}

.stock__hide--description {
  display: none;
}

.stock__hide--description.fade-out {
  opacity: 0;
}

.stocks__table-container {
  height: 90vh;

  margin-top: 8px;

  scrollbar-width: none;
  overflow-y: auto;
}

.stocks__table {
  max-height: 600px;
  height: auto;
  width: 100%;

  border-collapse: collapse;
  table-layout: fixed;
}

.stocks__table thead {
  height: 40px;

  position: sticky;
  top: 0;

  text-align: left;

  font-size: 13px;

  background-color: white;
  color: rgb(130, 130, 130);

  cursor: pointer;
}

.stocks__table thead th:hover {
  color: rgb(118, 215, 183); /* Change text color on hover */
}

.stocks__table th,
.stocks__table td {
  border-bottom: 1px solid #ddd;
}

.stocks__table td {
  cursor: pointer;
}

.stocks__table th:nth-of-type(1),
.stocks__table td:nth-of-type(1) {
  width: 130px;

  text-align: left;

  /* padding-right: 64px; */
}

.stock-row:hover {
  background-color: rgb(242, 248, 250);
}

.stocks__table tbody tr {
  height: 54px;

  font-size: 12px;

}

.stocks__table tbody tr td:first-child {
  font-weight: bold;
}

.stocks__btn--add {
  height: 12px;
  width: 12px;

  margin-left: 60px;

  background: none;

  border: none;
  cursor: pointer;
}

.stocks__btn--add:hover {
  color: rgb(63, 242, 186);
}

.stocks__disclaimer {
  display: flex;
  align-items: start;

  font-size: 14px;
  color: rgb(130, 130, 130);
}

.stocks-table-arrow-container {
  display: flex;

  gap: 5px;
  align-items: center;
}

.triangleIconDown {
  height: 18px;
  width: 18px;

  color: rgb(248, 124, 14);
}

.triangleIconUp {
  height: 18px;
  width: 18px;

  color: rgb(14, 248, 37);
}

.Stocks-loading-spinner {
  height: 250px;
  width: 620px;

  display: flex;
  justify-content: center;
  align-items: start;
}
