.Skeleton {
  background: linear-gradient(
    90deg,
    var(--highlight-color) 25%,
    var(--border-color) 37%,
    var(--highlight-color) 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 3.5s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
