.WatchListStocks {
  height: auto;
  width: auto;

  display: flex;
  flex-direction: column;

  font-size: 14px;
}

.WatchListStocks__container {
  height: 64px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 8px;
  padding-left: 18px;

  cursor: pointer;
}

.WatchListStocks__container:hover {
  background-color: rgb(247, 251, 255);
}

.WatchListStocks__container-title {
  width: 64px;

  display: flex;
  align-content: center;

  font-weight: bold;
  font-size: 12px;
}

.WatchListStocks__container-graph {
  height: 100%;


  flex: 1;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;


}

.WatchListStocks__container-data {
  height: 100%;
  width: 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 8px;

  font-size: 12px;
}

.WatchListStocks__percent-green {
  color: rgb(44, 202, 4);
}

.WatchListStocks__percent-red {
  color: rgb(255, 29, 4);
}

.WatchListStocks__container-title-shares {
  display: flex;
  flex-direction: column;

  gap: 8px;
}
