.SignUpPage {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;

  background-color: rgb(0, 0, 0);
  color: white;
}

.SignUpPage__aside {
  width: 50%;

  display: flex;
  flex-direction: column;

  gap: 14px;

  padding: 0 60px;

  box-shadow: 0 0 0 0.5px rgb(255, 255, 255);
  /* box-shadow: 5px 0 10px rgba(255, 255, 255, 0.5); */


}

.SignUpPage__aside__logo {
  /* height: 150px; */

  padding-top: 48px;
  width: 100%;

  display: flex;
  align-items: center;

  gap: 7px;

  font-size: 24px;
  font-weight: bold;

  color: white;

  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding-bottom: 40px;
}

.SignUpPage__aside__logo:hover {
  color: rgb(7, 222, 150);
}

.SignUpPage__aside__title {
  /* height: 150px; */
  width: 100%;

  display: flex;
  align-items: end;

  font-size: 3em;
  font-weight: bold;

}

.SignUpPage__aside__description {
  /* height: 100px; */
  width: 100%;

  display: flex;

  font-size: 17px;

  flex-wrap: wrap;
  word-wrap: break-word;
  margin-top: 32px;
}

.SignUpPage__aside__image-container {

  height: 60%;
  display: flex;

  padding-top: 60px;


}

.SignUpPage__aside__image {
  height: 350px;
  width: 350px;


  background-color: #000000;

  background-image: url("https://img.freepik.com/premium-vector/space-minimalist-simple-silhouette-vector-illustration_801978-39259.jpg?w=360");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}

.SignUpPage__section {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 60px;
}

.SignUpPage__section__title {
  height: 200px;

  display: flex;
  align-items: flex-end;

  padding-bottom: 1rem;

  font-size: 20px;
}

.SignUpPage__section__form {
  height: 100%;
}

.SignUpPage__form__section-one {
  height: 100px;

  display: flex;
  align-items: center;
  align-content: center;

  gap: 30px;
}

.SignUpPage__form__section-one input {
  height: 55px;
  width: 100%;

  padding-left: 10px;

  font-size: 15px;

  background: transparent;

  color: white;

  border-style: solid;
  border-color: rgb(48, 54, 58);
  border-width: 1px;
}

.SignUpPage__form__section-two {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.SignUpPage__form__section-two input {
  height: 55px;

  padding-left: 10px;

  font-size: 15px;

  background: transparent;
  color: white;

  border-style: solid;
  border-color: rgb(48, 54, 58);
  border-width: 1px;
}

.SignUpPage__form__section-three {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.SignUpPage__form__password {
  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
}

.SignUpPage__form__password input {
  height: 55px;
  width: 100%;

  padding-left: 10px;
  padding-right: 50px;

  font-size: 15px;

  background: transparent;
  color: white;

  border: 1px solid rgb(48, 54, 58);
}

.SignUpPage__hide-icon {
  position: absolute;
  right: 15px;

  font-size: 24px;

  background-color: transparent;
  color: rgb(255, 255, 255);

  cursor: pointer;
}

.SignUpPage__form__errors {
  width: 100%;
}

.SignUpPage__form__error {
  min-height: 50px;
  width: 100%;

  display: inline-flex;
  align-items: center;
  box-sizing: border-box;

  padding-left: 10px;
  gap: 0px;

  font-size: 17px !important;

  background-color: rgb(30, 33, 37);

  border-width: 1px;
  border-radius: 5px;
}

.SignUpPage__info-icon {
  min-height: 20px;
  width: 20px;

  margin-right: 10px;
}

.SignUpPage__section__form button {
  height: 54px;
  width: 50%;
  max-width: 250px;

  align-self: center;

  font-weight: bold;

  background-color: #ffffff;
  color: #1c180d;

  border: 1px solid #ffffff;
  border-radius: 36px;

  cursor: pointer;
}

.SignUpPage__section__form button:hover {
  color: rgb(61, 61, 61);
}

input:focus {
  border-color: rgb(255, 255, 255);
  outline: none;
}

@media (max-width: 770px) {
  .SignUpPage__hide-icon {
    right: 10px;

    font-size: 20px;
  }
}

@media screen and (max-width: 770px) {
  .SignUpPage {
    width: 100%;
    height: 100vh;

    flex-direction: column;

    padding-bottom: 30px;
  }

  .SignUpPage__aside {
    width: 100%;

    padding: 10px 20px;

    padding-bottom: 24px;

    gap: 16px;
  }

  .SignUpPage__aside__logo {
    height: 30px;

    font-size: 18px;
    padding-top: 8px;
  }

  .SignUpPage__aside__title {
    height: 50px;

    font-size: 40px;
  }

  .SignUpPage__aside__description {

    font-size: 16px;
    line-height: 1.5;
  }

  .SignUpPage__aside__image-container {
    display: none;
  }

  .SignUpPage__aside__image {
    display: none;
  }

  .SignUpPage__section {
    width: 100%;

    display: flex;
    padding: 24px 20px;
  }

  .SignUpPage__section__title {
    padding-top: 44px;
    height: 36px;
    font-size: 16px;
    line-height: 1.5;
  }

  .signup-page__instructions {
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;

    font-size: 24px;
  }
}

@media (max-width: 770px) and (max-height: 660px) {
  .SignUpPage {
    height: 100%;
  }

  .SignUpPage__aside__description {
    display: none;
  }

  .SignUpPage__section__form {
    height: 100%;
  }
}
