.Navigation {
  height: 80px;
  width: 100%;

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 4px;

  background-color: var(--color-background);


  z-index: 100;


}

.Navigation__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 16px;
  margin-left: 3.5%;
}

#Navigation__logo {
  height: 30px;
  width: 30px;

  cursor: pointer;
  color: var(--color-text-primary);

  transition: color 0.3s ease-in-out;
}

.Navigation__links {
  min-width: 200px;

  position: relative;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 24px;

  z-index: 0;
  padding-right: 10px;


}

.NavigationBar__home-btn,
.NavigationBar__account-btn {
  font-size: 13px;
  font-weight: 600;

  color: var(--color-text-primary);

  cursor: pointer;
}

.NavigationBar__home-btn:hover,
.AccountDropdown__span:hover {
  color: var(--theme-primary-color);
}

.AccountDropdown__span__active {
  color: var(--theme-primary-color);
}

.Navigation__links a:hover {
  color: var(--theme-primary-color);
}


.stocks-nav {
  height: 80px;
  width: 100%;

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  padding-top: 4px;

  background-color: var(--theme-primary-hover);

  z-index: 2;
}





@media (max-width: 480px) {
  .Navigation {
    display: none;
  }

  .stocks-nav {
    display: none;
  }
}
