/* ========== Stock Details Container ========== */
/* Main container for stock details */
.StockDetails {
  display: flex;
  flex-direction: column;
}

/* ========== Section Headers ========== */
/* Styling for section headers like "About", "Key Statistics" */
.StockDetails__header {
  height: 50px;

  display: flex;
  align-items: center;

  margin-top: 8px;

  font-size: 18px;
  font-weight: 600;

  border-bottom: solid 1px var(--border-color);
}

.StockDetails__about {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;

  overflow: hidden;
}

/* "Show More" button styling */
.StockDetails__show-more-button {
  padding: 0;

  color: var(--theme-primary-color);

  font-weight: bold;
}

.StockDetails__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  margin-top: 24px;
  gap: 18px;

  font-size: 11px;
  font-weight: 500;
}

.StockDetails__section div {
  display: flex;
  flex-direction: column;

  gap: 6px;
}

.StockDetails__section div span:first-child {
  font-weight: bold;
}

/* Ensure a maximum of 4 columns */
@media (min-width: 800px) {
  .StockDetails__section {
    grid-template-columns: repeat(4, 1fr);
  }
}
