.HistoryPage {
  display: flex;
  margin: 0px auto 0;
  flex-direction: column;

  height: 100%;
  width: 900px;
  margin-bottom: 100px;
}

.HistoryPage__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;

  height: 40px;
  width: 100%;

  font-size: 13px;

  border-radius: 4px;
}

.HistoryPage__invest-section {
  height: 200px;
  background-color: aqua;
}


.HistoryPage__completed-transactions-title{
  font-weight: bold;
  font-size: 13px;
}


.HistoryPage__completed-transactions-date{
  font-size: 13px;
}
