.HomePageNewsArticle {
  height: 140px;

  display: flex;
  justify-content: space-evenly;

  border-bottom: var(--border);

  cursor: pointer;
}

.HomePageNewsArticle:hover {
  background-color: var(--color-hover);
  box-shadow:
  /* Top */ 0px 0px 0px 0px var(--color-hover),
    /* Left */ -24px 0px 0px 0px var(--color-hover),
    /* Right */ 24px 0px 0px 0px var(--color-hover);
  cursor: pointer;
}

.HomePageNewsArticle__main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.HomePageNewsArticle__source {
  font-size: var(--font-size-text-xs);
  font-weight: bold;
}

.HomePageNewsArticle__time {
  margin-left: 6px;

  font-style: italic;
  font-size: var(--font-size-text-xs);

  color: var(--color-text-secondary);
}

.HomePageNewsArticle__headline {
  font-size: clamp(12px, 1vw, 13px);

  font-weight: var(--font-weight-normal);
  margin-right: 16px;

}

.HomePageNewsArticle__category {
  font-size: var(--font-size-text-sm);
  font-weight: bold;
}

.HomePageNewsArticle__image {
  display: flex;
  align-items: center;

  margin: 0;
  margin-left: auto;
}

.HomePageNewsArticle__image img {
  height: 100px;
  width: 150px;

  object-fit: contain;

}

@media (max-width: 700px) {
  .HomePageNewsArticle__main span:nth-child(2) {
    font-size: var(--font-size-text-sm);
  }

  .HomePageNewsArticle__main span:nth-child(3) {
    font-size: 13px;
    font-weight: bold;
  }
}
