.HomePage {
  display: flex;
  justify-content: center;

  margin-top: 85px;
}

.HomePage__body {
  display: flex;
  justify-content: center;

  gap: 20px;
}

.HomePage__main {
  width: 950px;

  display: flex;
  flex-direction: column;
  flex: 1;

  padding-top: 36px;
  padding-right: 30px;
}

.HomePage__main__section {
  display: flex;
  flex-direction: column;

  padding-left: 10px;
  padding-right: 10px;
}

.HomePage__main__title {
  height: 33px;

  display: flex;

  font-size: 30px;
  font-weight: bold;
}

.HomePage__main__banner {
  /* height: 270px; */

  /* background-image: url("https://png.pngtree.com/png-clipart/20240512/original/pngtree-flying-space-shuttle-on-space-with-planets-and-asteroid-in-cartoon-png-image_15072578.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
}

.HomePage__main__subtitle {
  height: 100px;

  display: flex;
  align-items: center;

  font-size: 40px;
  font-weight: bold;
}

.HomePage__main__user-info {
  height: 50px;

  display: flex;
  align-items: center;

  font-size: 24px;
}

.HomePage__main__chart-container {

}

.HomePage__main__buying-power {
  height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;

  cursor: pointer;

  border-bottom: 1px solid rgb(237, 237, 237);
  border-top: 1px solid rgb(237, 237, 237);
}

.HomePage__main__buying-power-span {
  height: 100%;
  width: 100px;

  display: flex;
  justify-content: end;
  align-items: center;

  gap: 8px;
}

.HomePage__main__buying-power__dropdown {
  height: 170px;

  display: flex;
  justify-content: end;

}

.HomePage__main__dropdown-contents {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.dropdown-contents-text-container {
  height: 60%;
  border-bottom: 2px solid rgb(237, 237, 237);


}

.dropdown-contents-text {
  display: flex;
  justify-content: space-between;
  height: 50%;
  align-items: center;

}

.dropdown-contents-text-button-container{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;

}

.dropdown-contents-text-button{
  background-color: black;
  color: white;
  width: 50%;
  height: 80%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.dropdown-contents-text-button:hover{
  background-color: rgb(51, 51, 51);
}
