.NewsFeed {
  width: 100%;



    /* ! ONE */
  padding-left: 16px;
  padding-right: 16px;


  margin-top: 20px;
}

.NewsFeed > span {
  display: block;

  padding-bottom: 20px;

  font-size: 20px;
  font-weight: bold;

  border-bottom: solid 1px var(--border-color);
  padding-right: 10px;

}

#NewsFeed__info-icon {
  height: 15px;
  width: 15px;

  margin-left: 5px;

  color: rgb(75, 75, 75);

  cursor: pointer;
}

.NewsFeed__categories {
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;

  margin-top: 25px;
  padding-bottom: 25px;
  gap: 5px;

  border-bottom: solid 1px var(--border-color);

}

.NewsFeed__categories button {
  height: 40px;
  width: auto;

  display: flex;
  align-items: center;

  padding: 12px;
  gap: 5px;

  background-color: #ffffff;

  border: 1px solid var(--border-color);
  border-radius: 36px;

  cursor: pointer;

  font-weight: var(--font-weight-bold);
}

.NewsFeed__categories button svg {
  font-size: 15px;
}

.NewsFeed__categories button:hover {
  background-color: var(--color-highlight);
}
