.HomePage {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  height: 100%;
}

.HomePage__body {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: center;

  padding: 0 20%;
}


.HomePage__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-right: 36px;

  height: 100%;
  width: 1000px;
  padding-right: 50px;
}


.HomePage__aside {
  min-height: 100vh;
}


.HomePage__main__section {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.HomePage__main__title {
  display: flex;

  height: 33px;

  font-size: 30px;
  font-weight: bold;
}

.HomePage__main__banner {
  height: 270px;

  background-image: url("https://png.pngtree.com/png-clipart/20240512/original/pngtree-flying-space-shuttle-on-space-with-planets-and-asteroid-in-cartoon-png-image_15072578.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.HomePage__main__subtitle {
  display: flex;
  align-items: center;

  height: 100px;

  font-size: 40px;
  font-weight: bold;
}
