/* ========== Stock Trade Sidebar ========== */

/* Main container for the Stock Trade Sidebar */
.StockTradeSidebar {
  margin-top: var(--container-margin-top);
}

/* Sticky container that holds all the trade actions */
.StockTradeSidebar__main {
  position: sticky;
  top: 85px;

  width: clamp(250px, 30vw, 300px);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}

