/* ========== Stock Trade Sidebar ========== */

/* Main container for the Stock Trade Sidebar */
.StockTradeSidebar {
  margin-top: var(--container-margin-top);
}

/* Sticky container that holds all the trade actions */
.StockTradeSidebar__main {
  position: sticky;
  top: 85px;

  width: clamp(250px, 30vw, 300px);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}

/* ====== Media Queries ====== */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* styles for medium devices */
  .StockTradeSidebar {
    display: none;

  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
