
.StockTradeSidebar {
  margin-top: var(--container-margin-top);
}

.StockTradeSidebar__main {
  position: sticky;
  top: 85px;

  width: clamp(250px, 30vw, 300px);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}
