/* ========== Add To List Modal ========== */
/* Modal container and overlay */
.AddToListModal {
  position: fixed;
  top: 350px;
  left: 50%;


  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;

  color: var(--color-text-primary-light);
}

/* ========= Modal Container ========= */
/* Modal Main */
.AddToListModal__main {
  position: absolute;

  width: 364px;

  display: flex;
  flex-direction: column;
  padding: 16px 24px;

  background-color: var(--color-surface);
  border-radius: 4px;
}

/* ========== Create New List Section ========== */

/* Create New List Section */
.AddToListModal__section {
  position: relative;

  height: 330px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  overflow: auto;
}
