/* ========== Add To List Modal ========== */
/* Modal container and overlay */
.AddToListModal {
  position: fixed;
  top: 390px;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;

  color: var(--text-color-light);
}

/* ========= Modal Container ========= */
/* Modal Main */
.AddToListModal__main {
  position: absolute;

  height: 470px;
  width: 364px;

  display: flex;
  flex-direction: column;
  padding: 16px 24px;

  background-color: var(--modal-background);

  border-radius: 4px;
}

/* ========== Create New List Section ========== */

/* Create New List Section */
.AddToListModal__section {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  overflow: auto;
}

/* Create New List Overlay */
.AddToListModal__list-overlay {
  position: absolute;
  z-index: 10;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--disabled-overlay-color);

  pointer-events: none;
}

/* ========== Create New List Overlay active ========== */
.AddToListModal__list-overlay.active {
  pointer-events: auto;
}



/* ========== Modal Footer ========== */
/* Modal Footer */
.AddToListModal__footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Modal Footer Button */
.AddToListModal__footer__button {
  padding: 0 20px;
  height: 38px;
  width: 100%;

  font-size: 12px;
  font-weight: bold;

  border-radius: 44px;
}

/* Create Button */
.AddToListModal__save-button {
  color: var(--background-color);
  background-color: var(--button-green);
  border: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Create Button Hover */
.AddToListModal__save-button:hover {
  background-color: var(--button-green-hover);
}

/* Disabled Button */
.AddToListModal__footer__button:disabled {
  background-color: var(--disabled-button-color);
}
