/* ========== Add To List Modal ========== */
/* Modal container and overlay */
.AddToListModal {
  position: fixed;
  top: 390px;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;

  color: var(--text-color-light);
}

/* ========= Modal Container ========= */
/* Modal Main */
.AddToListModal__main {
  position: absolute;

  height: 468px;
  width: 364px;

  display: flex;
  flex-direction: column;
  padding: 16px 24px;

  background-color: var(--background-color);

  border-radius: 4px;
}

/* ========== Create New List Section ========== */

/* Create New List Section */
.AddToListModal__section {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  overflow: auto;
}

/* Create New List Overlay */
.AddToListModal__list-overlay {
  position: absolute;
  z-index: 10;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(255, 255, 255, 0.7);

  pointer-events: none;
}

/* Create New List Overlay active */
.AddToListModal__list-overlay.active {
  pointer-events: auto;
}

/* Create New List */
.AddToListModal__list {
  position: relative;

  display: flex;
  align-items: center;

  z-index: 5;
}

/* Create New List disabled */
.AddToListModal__list.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* ========== List Item Section ========== */
.AddToListModal__list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Checkbox Styling */
.AddToListModal__list-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;

  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 13px;
  border: 0.2em solid rgb(255, 118, 58);
  outline: none;
  cursor: pointer;
}

/* Checked Checkbox */
input.checked {
  background-color: rgb(255, 118, 58);
  position: relative;
}

/* Checkbox Icon */
.AddToListModal__checkbox-icon {
  position: absolute;
  color: white;
  font-size: 24px;
  pointer-events: none;
  text-align: center;
  align-self: center;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
}

/* ========== Modal Footer ========== */
/* Modal Footer */
.AddToListModal__footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 10px;
}

/* Modal Footer Button */
.AddToListModal__footer__button {
  padding: 0 20px;
  height: 38px;
  width: 100%;

  font-size: 12px;
  font-weight: bold;

  border-radius: 44px;
}

/* Create Button */
.AddToListModal__save-button {
  color: white;
  background-color: var(--button-green);
  border: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Create Button Hover */
.AddToListModal__save-button:hover {
  background-color: var(--button-green-hover);
}

/* Disabled Button */
.AddToListModal__footer__button:disabled {
  background-color: var(--color-disabled);
}

/* List Item Container */
.AddToListModal__item__container {
  padding-bottom: 4px;
  padding-left: 0;
}

/* ========== List Item Icons ========== */
.AddToListModal__item__emoji {
  height: 60px;
  width: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
  background-color: var(--color-highlight);
  border-radius: 4px;
}

/* ========== List Item Title ========== */
.AddToListModal__item__name {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;

  color: var(--text-color);
}
