.HistoryPage {
  width: clamp(430px, 85vw, 1000px);

  display: flex;
  flex-direction: column;

  margin: 0px auto 0;
  margin-bottom: 100px;
  margin-top: 30px;
}

.HistoryPage__title {
  font-size: 18px;
  font-weight: 600;

  height: 40px;

  border-bottom: 1px solid var(--border-color);
}

.HistoryPage__article {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--border-color);

  cursor: pointer;
}

.HistoryPage__article:hover {
  background-color: var(--color-hover);

  box-shadow: 0px 0px 0px 0px var(--color-hover),
    -16px 0px 0px 0px var(--color-hover), 16px 0px 0px 0px var(--color-hover);
}

.HistoryPage__details {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.HistoryPage__description {
  font-weight: 700;
  font-size: 13px;
}

.HistoryPage__date {
  font-size: 12px;
  font-weight: 500;
}

.HistoryPage__amount {
  font-weight: 700;
  font-size: 13px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70px;
}

@media (max-width: 768px) {
  .HistoryPage {
    width: 90vw;
  }
}
