.hamburger-icon {
  display: none;
  color: black;
}

@media screen and (max-width: 1080px) {
  .hamburger-icon-container {
    width: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .hamburger-icon {
    height: 30px;
    width: 30px;

    display: block;

    color: black;
  }

  .close-icon {
    height: 40px;
    width: 40px;
  }
}
