.HomePageNewsFeed {

  margin-top: 24px;
  margin-bottom: 140px;
}

.HomePageNewsFeed > h2 {
  display: block;


  padding-bottom: 24px;

  font-size: 20px;
  font-weight: bold;

  border-bottom: solid 1px var(--border-color);

}

.HomePageNewsFeed__info-icon {
  height: 15px;
  width: 15px;

  margin-left: 4px;

  color: rgb(75, 75, 75);

  cursor: pointer;
}

.HomePageNewsFeed__categories {
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;

  margin-top: 24px;
  padding-bottom: 24px;
  gap: 6px;

  border-bottom: solid 1px var(--border-color);
}

.HomePageNewsFeed__categories button {
  height: 40px;
  width: auto;

  display: flex;
  align-items: center;

  padding: 12px;
  gap: 4px;

  background-color: #ffffff;

  border: 1px solid var(--border-color);
  border-radius: 36px;

  font-weight: var(--font-weight-bold);
}

.HomePageNewsFeed__categories button svg {
  font-size: 15px;
}

.HomePageNewsFeed__categories button:hover {
  background-color: var(--color-highlight);
}
