.HomePageNewsFeed > h2 {
  height: 65px;

  display: flex;
  align-items: center;

  font-size: 18px;
  font-weight: bold;

  border-bottom: var(--border);
}

.HomePageNewsFeed__info-icon {
  height: 14px;
  width: 14px;

  margin-left: 7px;

  color: var(--icon-color);

  cursor: pointer;
}
