.HamburgerMenu {
  /* width: 40px; */
  display: none;
}

.HamburgerMenu__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  height: 24px;
  width: 24px;

  transition: color 0.3s ease-in-out;
}

.hamburger-icon {
  height: 24px;
  width: 24px;

  transition: color 0.3s ease-in-out;
}

.hamburger-icon:hover {
  color: var(--theme-primary-color);
}

/* ====== Media Queries ====== */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* styles for medium devices */
  .Navigation__links {
    display: none;
  }

  .HamburgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-text-primary);

    margin-right: 18px;
    margin-left: 16px;

    cursor: pointer;
  }
}
