.HamburgerMenu {

  display: none;

}

.hamburger-icon,
.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}


.fade-in {
  opacity: 1;
}


.fade-out {
  opacity: 0;
}


.hamburger-icon:hover {
  color: var(--theme-primary-color);
}


@media (max-width: 768px) {

  .Navigation__links {
    display: none;
  }

  .HamburgerMenu {
    position: relative;
    top:20px;
    right: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-text-primary);

    margin-right: 18px;
    /* margin-left: 16px; */

    cursor: pointer;
  }
}
