.SecurityPage {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 70%;

  font-size: 14px;
}

.SecurityPage__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;

  border-bottom: 1px solid rgb(231, 231, 231);
}

.SecurityPage__content__title {
  align-content: center;

  height: 50px;

  font-size: 24px;
  font-weight: bold;
}

.SecurityPage__content__subtitle {
  align-content: center;
  margin-bottom: 20px;

  height: 20px;
}

.SecurityPage__content__links {
  display: flex;
  flex-direction: column;
}

.SecurityPage__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 45px;

  border-top: 1px solid rgb(232, 232, 232);

  cursor: pointer;
}

.SecurityPage__link:hover {
  background-color: rgb(243, 243, 243);
}

.SecurityPage__logout {
  align-self: end;
  padding-top: 15px;

  /* height: 170px; */
}

.SecurityPage__logout-span {
  font-weight: bold;
  color: rgb(198, 156, 194);
  cursor: pointer;
}

.SecurityPage__logout-span:hover {
  color: rgb(163, 108, 157);
}
