.AddToListModalLists {
  position: relative;

  display: flex;
  align-items: center;

  z-index: 5;
  margin-bottom: 16px;
}

.AddToListModal__list-overlay {
  position: absolute;
  z-index: 10;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--disabled-overlay-color);

  pointer-events: none;
}

.AddToListModal__list-overlay.active {
  pointer-events: auto;
}

.AddToListModalLists.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.AddToListModalLists__checkbox-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.AddToListModalLists__checkbox-container input[type="checkbox"] {
  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--theme-primary-color);

  outline: none;
  appearance: none;
  -webkit-appearance: none;

  cursor: pointer;
}

input.checked {
  position: relative;

  background-color: var(--theme-primary-color);
}

.AddToListModalLists__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;
  align-self: center;

  font-size: 24px;

  color: var(--color-background);

  pointer-events: none;

  transform: translate(-50%, -50%);
}

/* Add to List specific list styling */
.AddToListModalLists__item {
  padding-left: 0;
}

.AddToListModalLists__item-emoji {
  height: 60px;
  width: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;

  font-size: 24px;

  background-color: var(--color-hover-secondary-light);

  border-radius: 4px;
}

.AddToListModalLists__item-name {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 500;

  color: var(--color-text-primary);
}
