.WelcomePageNavbar {
  display: flex;
  padding: 0 20px;

  background-color: #000000;
  color: white;

  border-bottom: 1px solid white;
  height: 60px;
}


.WelcomePageNavbar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 16px;

  font-size: 1.5rem;
  font-weight: bold;

  color: white;

  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.WelcomePageNavbar__logo:hover {
  color: rgb(7, 222, 150);
}


.WelcomePageNavbar__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.WelcomePageNavbar__link {
  font-size: 0.9rem;
  font-weight: bold;

  color: white;

  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.WelcomePageNavbar__link:hover {
  color: rgb(7, 239, 162);
}


.WelcomePageNavbar__links__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  transition: color 0.3s ease-in-out;
}

.WelcomePageNavbar__links__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;

  height: 40px;
  width: 50px;

  background-color: transparent;
  color: rgb(255, 255, 255);

  border: 1px solid rgb(255, 255, 255);
  border-radius: 36px;

  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}


.login-button{
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
}

.login-button:hover{
  border: 1px solid rgb(7, 222, 150);
  color: rgb(7, 222, 150);
}

.signup-button {
  background-color: white;
  color: black;
  font-weight: bold;
}

.signup-button:hover {
  color: rgb(202,99,252);
  border: 1px solid rgb(202,99,252);
}

.account-button {
  font-weight: bold;
  font-size: 0.8rem;

  background-color: white;
  color: black;
}

.account-button:hover {
  background-color: rgb(197, 197, 197);
}

@media (max-width: 768px) {
  .WelcomePageNavbar__links {
    display: none;
  }

  .WelcomePageNavbar__logo {
    margin-right: auto;
  }
}
