.WelcomePageNavbar {
  height: 60px;

  display: flex;
  padding: 0 20px;

  background-color: #000000;
  color: white;

  border-bottom: 1px solid white;
}

.WelcomePageNavbar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 16px;

  font-size: var(--font-lg);
  font-weight: var(--font-weight-bold);

  color: var(--color-white);

  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.WelcomePageNavbar__logo:hover {
  color: var(--color-primary);
}

.WelcomePageNavbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  margin-left: auto;

  list-style: none;
  transition: color 0.3s ease-in-out;
}

.WelcomePageNavbar__menu-item {
  height: var(--button-height);
  width: 100px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  padding: var(--button-padding);



  color: var(--color-white);

  font-size: var(--font-sm);
  font-weight: var(--font-weight-normal);

  border: var(--button-border-white);
  border-radius: var(--button-border-radius-lg);

  cursor: pointer;
  text-decoration: none;
}

.login-button:hover {
  color: var(--color-primary);

  border: 1px solid var(--color-primary);
}

.signup-button {
  background-color: var(--color-white);
  color: black;

  border: none;
}

.signup-button:hover {
  background-color: var(--color-accent);
}

@media (max-width: 768px) {
  .WelcomePageNavbar__logo {
    margin-right: auto;
  }
}
