.WelcomePageNavbar {
  display: flex;
  padding: 0 20px;

  background-color: #000000;
  color: white;

  border-bottom: 1px solid white;
  height: 60px;
}

.WelcomePageNavbar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 16px;

  font-size: var(--font-lg);
  font-weight: var(--font-weight-bold);

  color: var(--color-background-white);

  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.WelcomePageNavbar__logo:hover {
  color: #07de96;
}

.WelcomePageNavbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

  margin-left: auto;

  list-style: none;
  transition: color 0.3s ease-in-out;
}

.WelcomePageNavbar__menu-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  padding: var(--button-padding);

  height: var(--button-height);
  width: 50px;

  color: var(--color-background-white);

  font-size: var(--font-sm);
  font-weight: var(--font-weight-norma);

  border: var(--button-border-white);
  border-radius: var(--button-border-radius-lg);

  cursor: pointer;
  text-decoration: none;

  font-weight: var(--font-weight-normal);
}

.login-button:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.signup-button {
  background-color: var(--color-background-white);
  color: black;
}

.signup-button:hover {
  background-color: var(--color-accent);
}



@media (max-width: 768px) {

  .WelcomePageNavbar__logo {
    margin-right: auto;
  }
}
