.SecurityPage {
  height: 100%;
  width: clamp(430px, 85vw, 1000px);

  display: flex;
  flex-direction: column;

  font-size: 12px;
  font-weight: 500;
  margin-bottom: 100px;
  padding-left: 20px;
}

.SecurityPage__content {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
}

.SecurityPage__content__title {
  height: 50px;

  align-content: center;

  font-size: 18px;
  font-weight: bold;

  margin-left: 20px;
  margin-right: 20px;
}

.SecurityPage__content__subtitle {
  height: 20px;

  align-content: center;

  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.SecurityPage__content__links {
  display: flex;
  flex-direction: column;
}

.SecurityPage__link {
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.SecurityPage__link:hover {
  background-color: var(--color-hover);
  box-shadow:
  /* Top */ 0px 0px 0px 0px var(--color-hover),
    /* Left */ -24px 0px 0px 0px var(--color-hover),
    /* Right */ 24px 0px 0px 0px var(--color-hover);
  cursor: pointer;
}

.SecurityPage_border {
  border-top: 1px solid var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.SecurityPage__logout {
  align-self: end;
  padding-top: 15px;
  margin-right: 20px;
}

.SecurityPage__logout-span {
  color: var(--theme-primary-color);

  font-weight: bold;

  cursor: pointer;
}

.SecurityPage__logout-span:hover {
  color: var(--theme-primary-color);
}

/* ====== Media Queries ====== */
/* * Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .SecurityPage {
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
  }
}
