/* ========== Stock Page ========== */

/* Main container for the stock page */
.StockPage {
  display: flex;
  justify-content: center;

    /* ! unify media queries */
  margin-top: 85px;
  gap: 1.5vw;
}

/* Stock Page main content area styles */
.StockPage__main {

  /* ! unify media queries */
  width: 65vw;
  min-width: 400px;
  max-width: 900px;

  display: flex;
  flex-direction: column;

  margin-top: 30px;

  transition: width 0.3s smooth;
}



/* Extra Large Screens (Desktops & TVs) */
@media (min-width: 1440px) {
  /* Styles for large desktop screens */
  .StockPage__main {
    max-width: 900px;
  }
}

/* Large Desktops */
@media (max-width: 1280px) {
  /* Styles for medium-sized desktops */
  .StockPage__main {
    max-width: 800px;
  }
}

/* Small Desktops & Large Tablets */
@media (max-width: 1024px) {
  /* Adjust layouts, reduce container sizes */
  .StockPage__main {
    max-width: 700px;
  }
}

@media (max-width: 830px) {
  /* Stack columns, adjust text sizes, shrink margins */
  .StockPage__main {
    max-width: 550px;
    /* padding: 16px 16px; */
    padding-right: 0;
  }
}

/* Tablets (Portrait & Small Laptops) */
@media (max-width: 768px) {
  /* Stack columns, adjust text sizes, shrink margins */
  .StockPage__main {
    /* width: 55vw; */
    max-width: 450px;
  }
}

/* Large Phones (Landscape Mode) */
@media (max-width: 700px) {
  /* Reduce button sizes, make touch targets larger */
  .StockPage__main {
    width: 90%;
    max-width: none;
  }
}

/* Most Mobile Phones (Portrait Mode) */
@media (max-width: 480px) {
  /* Full-width elements, simplify layouts */
}

/* Very Small Phones */
@media (max-width: 360px) {
  /* Reduce paddings/margins for ultra-small screens */
}
