.StockPage {
  display: flex;
  justify-content: center;

  gap: var(--page-gap);
  margin-top: var(--page-margin-top);
  margin-bottom: var(--page-margin-bottom);
}

.StockPage__main {
  width: clamp(400px, 60vw, 1000px);

  display: flex;
  flex-direction: column;

  margin-top: var(--container-margin-top);
}

@media (max-width: 768px) {
  .StockPage__main,
  .StockPage__skeleton {
    width: 90vw;
  }
}

@media (max-width: 480px) {
  .StockPage {
    margin-top: 70px;
  }
  .StockPage__main {
    margin-top: 0px;
  }
}
