.StockTrade {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;

  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: var(--color-surface);
}

.StockTrade__sidebar-skeleton {
  position: sticky;
  top: 85px;
  height: 500px;

  margin-top: var(--container-margin-top);

  width: clamp(250px, 30vw, 300px);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}

.StockTradeSidebar__mobile {
  display: none;
}

@media (max-width: 768px) {
  .StockTradeSidebar {
    display: none;
  }

  .StockTrade__sidebar-skeleton {
    display: none;
  }
}

@media (max-width: 480px) {
  .StockTrade {
    width: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-bottom: none;

    opacity: 0;
    transform: translateY(50%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;

  }

  .StockTrade.open {
    opacity: 1;
    transform: translateY(0);
  }
}
