
.PortfolioTotal__title {
  font-size: 13px;
}

.PortfolioTotal__value {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}



.InvestingPage__section > *:last-child {
  border-bottom: 1px solid var(--border-color);
}

.PortfolioTotal__section {
  height: 54px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--border-color);
  cursor: pointer;

}

.PortfolioTotal__section:hover {
  box-shadow:
  /* Top */ 0px 0px 0px 0px var(--color-hover),
    /* Left */ -16px 0px 0px 0px var(--color-hover),
    /* Right */ 16px 0px 0px 0px var(--color-hover);
  background-color: var(--color-hover);
}

.PortfolioTotal__section-title {
  font-weight: bold;
  font-size: 11px;
}

.PortfolioTotal__section-value-container {
  display: flex;

  gap: 20px;

  font-size: 12px;
  font-weight: 500;

  width: 142px;


}

.PortfolioTotal__section-value {
  color: var(--color-text-secondary);

  width: 50px;

}
