.StocksTable__head {
  position: sticky;
  top: 0;

  min-height: 40px;
  height: 40px;

  font-size: 12px;

  color: var(--color-text-primary);
  background-color: var(--color-background);

  border-bottom: 1px solid var(--border-color);

  white-space: nowrap;
  cursor: pointer;
}

.StocksTable th {
  height: 48px;
  min-width: 140px;
  text-align: left;
  font-size: 11px;
  color: var(--color-text-secondary);
}

.StocksTable__head th:hover {
  color: var(--theme-primary-color);
}

.StocksTable th:first-child,
.StocksTable td:first-child {
  width: clamp(70px, 20vw, 300px);
}

@media (max-width: 480px) {
  .StocksTable th:first-child,
  .StocksTable td:first-child {
    width: clamp(70px, 10vw, 300px);
  }
}
