.SettingsLayout {
  height: 100%;
  width: clamp(430px, 85vw, 1000px);

  display: flex;
  margin: 0px auto 0;

  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.SettingsLayout__aside {
  /* width: 25%; */

  display: flex;
  flex-direction: column;

  gap: 20px;
  margin-top: 30px;
  margin-right: 12px;

  font-size: 12px;
  font-weight: 500;


}

.SettingsLayout__section {
  width: clamp(100px, 100%, 180px);
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.SettingsLayout__title {
  height: 40px;

  color: var(--color-text-secondary);

  border-bottom: 1px solid var(--border-color);
}

.SettingsLayout__subtitle {
  color: var(--color-text-primary);

  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.settings-highlight-security {
  color: var(--theme-primary-color);
}

.settings-highlight-appearance {
  color: var(--theme-primary-color);
}

/* ====== Media Queries ====== */
/* * Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .SecurityPage__appearance-page-wrapper {
    display: flex;
  }

  .AppearancePage {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .SettingsLayout__aside {
    display: none;
  }
}
