.SettingsLayout {
  height: 100%;
  width: clamp(430px, 85vw, 1000px);

  display: flex;
  margin: 0px auto 0;

  color: var(--color-text-primary);
  background-color: var(--color-background);
}

.SettingsLayout__aside {
  display: flex;
  flex-direction: column;

  gap: 20px;
  margin-top: 30px;
  margin-right: 12px;

  font-size: 12px;
  font-weight: 500;
}

.SettingsLayout__section {
  width: clamp(171px, 100%, 171px);

  display: flex;
  flex-direction: column;

  gap: 12px;
}

.SettingsLayout__title {
  height: 40px;

  color: var(--color-text-secondary);

  border-bottom: 1px solid var(--border-color);
}

.SettingsLayout__subtitle {
  color: var(--color-text-primary);

  font-weight: bold;
  cursor: pointer;
}

.settings-highlight-security {
  color: var(--theme-primary-color);
}

.settings-highlight-appearance {
  color: var(--theme-primary-color);
}

@media (max-width: 480px) {
  .SettingsLayout__aside {
    display: none;
  }
}
