/* ========== Trade Holdings ========== */
/* Main container for displaying the user's trade holdings */
.TradeHoldings {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 20px;

  font-size: 11px;
  font-weight: 500;

  border-radius: 4px;
}

/* ========== Holdings Display ========== */
/* Container for holding balance and actions */
.TradeHoldings__holdings {
  display: flex;
  /* gap: 4px; */
}

/* ========== Sell All Button ========== */
/* Button to allow users to sell all their holdings */
.TradeHoldings__holdings__sell-all-button {
  color: var(--theme-primary-color);
  font-weight: bold;
  font-size: 11px;
}

.TradeHoldings__holdings__sell-all-button--disabled{
  color: var(--disabled-button-color)
}
