
.ListSideBar {
  position: sticky;
  top: 85px;

  height: 86vh;
  width: clamp(250px, 30vw, 300px);

  margin-top: 30px;

  border: var(--border);

  border-radius: var(--border-radius-sm);

  overflow-y: auto;
  scrollbar-width: none;
}

.ListSideBar__error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ListSideBar__error {
  padding: 24px 16px;
  font-size: 16px;
  font-weight: 600;
}

.ListSideBar__error-image {
  background-image: url("https://i.pinimg.com/originals/17/29/4c/17294ce8fe0d49e9da696c2772461773.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
}


.ListSideBar__loading {
  position: sticky;
  top: 85px;

  height: 86vh;
  width: clamp(250px, 30vw, 300px);

  margin-top: 30px;

  border: var(--border);
  border-radius: var(--border-radius-sm);
}


@media (max-width: 768px) {

  .ListSideBar {
    display: none;
    border-radius: 0px;
  }

  .ListSideBar__loading {
    display: none;
  }
}


@media (max-width: 576px) {
}


@media (max-width: 575.98px) {
}
