/* ========== List Home Container ========== */
/* Main sidebar container that stays fixed while scrolling */
.ListSideBar {
  position: sticky;
  top: 85px;

  height: 86vh;
  width: clamp(250px, 30vw, 300px);

  margin-top: var(--margin-top-container);

  border: var(--border);

  border-radius: var(--border-radius-sm);

  overflow-y: auto;
  scrollbar-width: none;
  
  transition: width 0.1s smooth;
}

/* ====== Loading ====== */
.ListSideBar__loading {
  position: sticky;
  top: 85px;

  height: 86vh;
  width: clamp(250px, 30vw, 300px);

  transition: width 0.1s smooth;

  border: var(--border);
  border-radius: var(--border-radius-sm);
}

/* ====== Media Queries ====== */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* styles for medium devices */
  .ListSideBar {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
