.AppearancePage {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  padding-left: 20px;
}

.AppearancePage__content {
  display: flex;
  flex-direction: column;

  gap: 10px;
  padding-bottom: 16px;

  border-bottom: 1px solid var(--border-color);
}

.AppearancePage__title {
  height: 50px;

  align-content: center;

  font-size: 18px;
  font-weight: bold;
}

.AppearancePage__subtitle {
  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
}

.AppearancePage__theme {
  display: flex;
  justify-content: space-between;
}

.AppearancePage__theme-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppearancePage__dropdown__menu {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 200px;

  padding: 8px 8px;

  font-size: 12px;
  font-weight: 500;

  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.AppearancePage__dropdown__menu--active {
  border-color: var(--theme-primary-color);
}

.AppearancePage__dropdown__arrows {
  height: 14px;
  width: 14px;
}

.AppearancePage__dropdown {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 4px;

  border: 1px solid var(--border-color);
  border-radius: 4px;

  background-color: var(--color-surface);
  z-index: 10;

  cursor: pointer;
}

.AppearancePage__dropdown__option {
  height: 40px;

  display: flex;
  align-items: center;
  padding-left: 8px;
}

.AppearancePage__dropdown__option:hover {
  background-color: var(--color-hover-secondary-light);
}

.AppearancePage__dropdown__option--selected {
  color: var(--color-background);
  background-color: var(--theme-primary-color);
  font-weight: 600;
}

.AppearancePage__dropdown__option--selected:hover {
  color: var(--color-background);
  background-color: var(--theme-primary-color);
}

@media (max-width: 768px) {
  .AppearancePage {
    width: 100%;
    margin-top: 10px;
  }

  .AppearancePage__content {
    display: flex;
    flex-direction: column;

    gap: 0px;
    margin-bottom: 16px;
  }
}
