.SignUpPage {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;

  background-color: black;
  color: white;
}

.SignUpPage__aside {
  width: 50%;

  display: flex;
  flex-direction: column;

  padding: 0px 64px 36px;

  gap: 18px;

  box-shadow: 0 0 0 1px rgb(48, 54, 58);
}

.SignUpPage__aside-logo {
  display: flex;
  align-items: center;

  margin-bottom: 2rem;
  margin-top: 40px;

  gap: 8px;

  font-size: 24px;
  font-weight: bold;

  transition: color 0.3s ease-in-out;
}

.SignUpPage__aside-logo:hover {
  color: #07de96;
}

.SignUpPage__aside-header {
  display: flex;

  font-size: 3rem;
}

.SignUpPage__aside-subtext {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;

  font-size: 13px;
  line-height: 1.5;

  margin-top: 32px;
}

.SignUpPage__aside__image-container {
  display: flex;

  padding-top: 54px;
}

.SignUpPage__aside__image {
  height: 350px;
  width: 350px;

  background-image: url("https://img.freepik.com/premium-vector/space-minimalist-simple-silhouette-vector-illustration_801978-39259.jpg?w=360");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.SignUpPage__main {
  width: 50%;

  display: flex;
  flex-direction: column;

  padding: 128px 64px;
}

.SignUpPage__main-header {
  display: flex;

  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;

  line-height: 1.5;
}

.SignUpPage__form__section-one {
  display: flex;

  gap: 20px;
}

.SignUpPage__form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(48, 54, 58);
  margin-bottom: 16px;

  background-color: black;
  color: white;
}

.SignUpPage__form__section-two {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SignUpPage__form__password-container {
  display: flex;
  flex-direction: column;
}

.SignUpPage__form__password {
  position: relative;
  display: flex;
  align-items: center;
}

.SignUpPage__hide-icon {
  position: absolute;
  right: 15px;
  top: 12px;

  font-size: 18px;

  color: white;

  cursor: pointer;
  border-radius: 4px;
}

.SignUpPage__hide-icon:hover {
  background-color: rgb(30, 33, 37);
}

.SignUpPage__form__errors {
  width: 100%;
}

.SignUpPage__form__error {
  min-height: 42px;
  width: 100%;

  display: flex;
  align-items: center;

  padding-left: 10px;

  font-size: 12px;
  font-weight: 500;

  background-color: rgb(30, 33, 37);

  border-radius: 4px;
}

.SignUpPage__info-icon {
  min-height: 20px;
  width: 20px;

  margin-right: 10px;
}

.SignUpPage__form button {
  height: 40px;
  width: 50%;
  min-width: 180px;
  max-width: 220px;

  align-self: center;

  font-weight: 600;

  background-color: white;
  color: black;

  border: 1px solid white;
  border-radius: 44px;
  margin-top: 4px;
}

.SignUpPage__form button:hover {
  background-color: rgb(236, 236, 236);
}

input:focus {
  border-color: rgb(255, 255, 255);
  outline: none;
}

@media screen and (max-width: 770px) {
  .SignUpPage {
    width: 100%;
    height: 100%;

    flex-direction: column;
  }

  .SignUpPage__aside {
    width: 100%;
    padding: 0px 24px 24px;

    gap: 0px;

    box-shadow: 0 1px 0 0 var(--border-color);
    margin-bottom: 8px;
  }

  .SignUpPage__aside-logo {
    font-size: 20px;
    margin-top: 14px;
  }

  .SignUpPage__aside-header {
    font-size: 32px;
    font-weight: var(--font-weight-normal);
    line-height: 32px;
  }

  .SignUpPage__aside-subtext {
    font-size: 14px;
  }

  .SignUpPage__aside__image-container {
    display: none;
  }

  .SignUpPage__aside__image {
    display: none;
  }

  .SignUpPage__main {
    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0);
    padding: 16px 24px 40px;
  }

  .SignUpPage__main-header {
    font-size: 14px;

    font-weight: 100;

    margin-bottom: 20px;
  }

  .SignUpPage__form__error {
    font-size: 13px;
  }

  .SignUpPage__form button {
    margin-top: 8px;
  }
}

/* * Small devices (landscape phones, 576px and up) */
@media (max-width: 480px) {
  .SignUpPage {
    padding-top: 70px;
  }
}
