.InvestingPage {
  display: flex;
  margin: 0px auto 0;
  flex-direction: column;

  height: 100%;
  width: 900px;
  /* background-color: red; */
}



.InvestingPage__invest-section{
  margin-top: 30px;
  height: auto;
  /* background-color: aqua; */
}


.InvestingPage__portfolio{
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  height: 90px;
  gap: 8px;
}

.InvestingPage__portfolio-title{
  font-size: 14px;
}

.InvestingPage__portfolio-value{
  font-size:32px;
  font-weight: bold;
}




.InvestingPage__invest-section-one{
  background-color: aliceblue;
  display: flex;
  height: 300px;
  width: 100%;

}


.InvestingPage__invest-section-data{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
  background-color: red;
  width: 70%;
}
