.InvestingPage {
  height: 100%;
  width: 900px;

  display: flex;
  flex-direction: column;

  margin: 0px auto 0;
  margin-bottom: 200px;
}

.InvestingPage__body {
  height: auto;

  margin-top: 30px;
}

.InvestingPage__portfolio-section {
  height: 90px;

  display: flex;
  flex-direction: column;

  gap: 8px;
}

.InvestingPage__portfolio-title {
  font-size: 14px;
}

.InvestingPage__portfolio-value {
  font-size: 32px;
  font-weight: bold;
}

.InvestingPage__section {
  height: 250px;

  display: flex;

  gap: 4px;
}

.InvestingPage__section-left {
  width: 100%;
}

.InvestingPage__section-left > *:last-child {
  border-bottom: 1px solid rgb(232, 232, 232);
}

.InvestingPage__section-left__main {
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid rgb(232, 232, 232);
  cursor: pointer;
}

.InvestingPage__section-left__main:hover {
  background-color: #ddd;
}

.InvestingPage__section-left__main-title {
  font-weight: bold;
  font-size: 14px;
}

.InvestingPage__section-left__main-value-container {
  display: flex;

  gap: 20px;
  padding-right: 48px;

  font-size: 14px;
}

.InvestingPage__section-left__main-value {
  color: rgb(152, 152, 152);
}

.InvestingPage__section-right {
  width: 30%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.InvestingPage__section-right__value {
  position: absolute;

  height: 50px;
  width: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;
}

.InvestingPage__stock-section {
  height: 50px;

  display: flex;
  flex-direction: column;

  gap: 8px;
}

.InvestingPage__stock-section__title {
  font-size: 18px;
  font-weight: bold;
}


.InvestingPage__stocks__table {
  max-height: 600px;
  height: auto;
  width: 100%;

  border-collapse: collapse;
  table-layout: fixed;
}

.InvestingPage__stocks__table thead {
  height: 40px;

  text-align: left;

  font-size: 13px;

  color: rgb(130, 130, 130);

  cursor: pointer;
}

.InvestingPage__stocks__table thead th:hover {
  color: rgb(118, 215, 183);
}

.InvestingPage__stocks__table th,
.InvestingPage__stocks__table td {
  width: 100%;

  border-bottom: 1px solid #ddd;
}

.InvestingPage__stocks__table td {
  cursor: pointer;
}

.InvestingPage__stocks__table th:nth-of-type(1),
.InvestingPage__stocks__table td:nth-of-type(1) {
  text-align: left;

  padding-right: 24px;
}

.InvestingPage__stock-row:hover {
  background-color: #ddd;
}

.InvestingPage__stocks__table tbody tr {
  height: 54px;

  font-size: 12px;
}

.InvestingPage__stocks__table tbody tr td:first-child {
  font-weight: bold;
}

.InvestingPage__stocks-table-arrow-container {
  display: flex;

  gap: 5px;
}

.apexcharts-canvas {
  cursor: pointer;
}


.InvestingPage__section-right__value-shares{
  font-size: 14px;
  color: #494949;
}
