.WatchList__modal {
  position: fixed;
  top: 375px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

.WatchList__modal__background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);
}

.WatchList__modal__container {
  position: absolute;

  height: 400px;
  width: 400px;

  background-color: white;

  border-radius: 5px;
}

.WatchListModal__contents {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.WatchListModal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WatchListModal__close-button {
  height: 22px;
  width: 22px;

  cursor: pointer;
}

.WatchListModal__close-button-span{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 30px;
  width: 30px;

  cursor: pointer;
}

.WatchListModal__close-button-span:hover {
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
}


.WatchListModal__title {
  font-size: 18px;
}

.WatchListModal__section {
  display: flex;
  flex-direction: row;
  gap: 10px;

  height: 260px;
}

.WatchListModal__option {
  display: flex;
  flex-direction: column;

  height: 260px;
  width: 175px;

  border: 1px solid rgb(234, 234, 234);
  border-radius: 5px;

  cursor: pointer;
}

.WatchListModal__option__image {
  height: 60%;
  width: 100%;

  background-color: rgb(230, 255, 255);

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.WatchListModal__image-one {
  background-image: url("https://img.freepik.com/premium-vector/bright-telescope-cartoon-vector-illustration-white-background_1322560-79848.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.WatchListModal__image-two {
  background-image: url("https://i.etsystatic.com/27713397/r/il/ba1b96/4493269889/il_1080xN.4493269889_lz2v.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.WatchListModal__option__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px 12px;

  height: 40%;

  font-size: 14px;
}

.WatchListModal__text__title {
  font-weight: bold;
}

.WatchListModal__back-button {
  margin-top: 20px;
  height: 40px;

  font-weight: bold;

  color: white;
  background-color: black;

  border-radius: 20px;

  cursor: pointer;
}

.WatchListModal__back-button:hover {
  background-color: rgb(42, 42, 42);
}


/*  */
.CreateList__modal {
  position: fixed;
  top: 255px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

.CreateList__modal__background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);
}

.CreateList__modal__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;

  height: 175px;
  width: 420px;

  background-color: rgb(255, 255, 255);

  border-radius: 5px;
}

.CreateList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.CreateList__header__title {
  font-size: 18px;
  font-weight: bold;
}

.CreateList__section {
  display: flex;
  align-items: end;
  padding-left: 16px;
  margin-bottom: 10px;
  gap: 8px;

  height: 50px;
}

.CreateList__section__emoji {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 38px;
  width: 38px;

  background-color: rgb(255, 255, 255);

  border: solid 1px rgb(232, 232, 232);
  border-radius: 5px;
  cursor: pointer;
}

.emoji-picker-wrapper{
  position: absolute;
  top: 105px;
  right: 345px;

  background: white;

  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


.CreateList__section__input {
  box-sizing: border-box;
  padding: 2px 15px;

  width: 80%;
  height: 36px;

  font-size: 12px;

  background-color: aliceblue;

  border-radius: 5px;
  border: none;
}

.CreateList__section__input:focus {
  border: solid 1px rgb(36, 240, 172);
}



.CreateList__section__buttons{
  display: flex;
  justify-content: end;
  gap:8px;
  margin-right: 28px;
}

.CreateList__section__button{
  padding: 0 20px;

  height: 32px;
  width: auto;

  font-size: 12px;
  font-weight: bold;

  border-radius: 16px;
  cursor: pointer;
}

.CreateList__cancel-button{
  color: rgb(2, 215, 144);
  background-color: white;

  border: solid 1px rgb(36, 240, 172);
}


.CreateList__cancel-button:hover{
  background-color: rgb(211, 255, 240);
}

.CreateList__create-button{
  color:white;
  background-color: rgb(7, 222, 150);

  border: none;
}

.CreateList__create-button:hover{
  background-color: rgb(7, 196, 133);
}
