/* HomePageOverview title styling */
.HomePageOverview__title {
  display: flex;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
}

/* HomePageOverview summary container styling */
.HomePageOverview__summary {
  height: 50px;
  display: flex;
  flex-direction: column;
}

/* Total investments text styling */
.HomePageOverview__total-investments {
  font-size: 30px;
  font-weight: 500;
}

/* Portfolio amount change styling */
.HomePageOverview__portfolio-amount-change {
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: 13px;
}

/* Modifier: negative portfolio amount change */
.HomePageOverview__portfolio-amount-change--negative {
  height: 28px;
  width: 28px;
  color: rgb(248, 124, 14);
}

/* Modifier: positive portfolio amount change */
.HomePageOverview__portfolio-amount-change--positive {
  height: 28px;
  width: 28px;
  color: var(--percent-change-positive);
}

/* Subtext styling */
.HomePageOverview__subtext {
  font-weight: 500;
}
