.WelcomePageNavbar {
  height: 70px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  padding: 0 1%;

  background-color: rgba(0, 0, 0, 0.2);

  color: var(--color-text-primary);
}

.WelcomePageNavbar__logo {
  display: flex;
  align-items: center;

  gap: 5px;
  margin-left: 16px;

  font-size: 22px;
  font-weight: bold;

  /* color: var(--color-text-grey); */
  color:#adacac;

  transition: color 0.3s ease-in-out;
}

.WelcomePageNavbar__logo:hover {
  color: rgb(10, 191, 246);
}

.WelcomePageNavbar__menu {
  display: flex;
  align-items: center;


  gap: 10px;
  margin-left: auto;

  list-style: none;
  transition: color 0.3s ease-in-out;
}

.WelcomePageNavbar__menu-item {
  height: 38px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0 24px;

  /* color: var(--color-text-primary); */
  color: white;

  font-size: 14px;
  font-weight: 700;

  border-radius: 4px;

  transition: color 0.3s ease-in-out;
}

.login-button:hover {
  color: rgb(226, 31, 125);
}

.signup-button {
  background-color: rgb(226, 31, 125);
  color: white;
  font-weight: bold;
}

.signup-button:hover {
  background-color: rgb(226, 31, 125, .8);
}

@media (max-width: 768px) {
  .WelcomePageNavbar__logo {
    margin-right: auto;
  }
}
