.TransferMoney__button {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4px;

  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.TransferMoney__button:hover {
  box-shadow:
    /* Top (or no shadow for top in this case) */ 0px 0px 0px 0px
      var(--color-hover),
    /* Left */ -16px 0px 0px 0px var(--color-hover),
    /* Right */ 16px 0px 0px 0px var(--color-hover);
  background-color: var(--color-hover);
}

.TransferMoney__money-icon-container {
  height: 42px;
  width: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-surface);

  border-radius: 50%;
}

.TransferMoney__money-icon {
  height: 24px;
  width: 24px;

  color: var(--color-text-primary);
}

.TransferMoney__text-container {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
  gap: 4px;
}

.TransferMoney__title {
  font-size: 14px;
  font-weight: 600;
}
.TransferMoney__subtitle {
  font-size: 12px;
  font-weight: 500;

  color: var(--color-text-secondary);
}

.TransferMoney__arrow-container {
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
}

.TransferMoney__arrow-icon {
  height: 18px;
  width: 18px;

  color: var(--icon-color);
}
