/* ========== Home Page ========== */

.HomePage {
  display: flex;
  justify-content: center;

  /* ! unify media queries */
  margin-top: 80px;
  gap: 1.5vw;
}

/* HomePage main content area styles */
.HomePage__main {
  /* ! unify media queries */
  width: 65vw;
  min-width: 400px;
  max-width: 900px;

  display: flex;
  flex-direction: column;

  margin-top: 30px;

  transition: width 0.3s smooth;
}

.HomePage__skeleton-overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

.HomePage__skeleton-stats {
  display: flex;
  gap: 20px;
}

.HomePage__skeleton-chart {
  margin-bottom: 32px;
}

.HomePage__skeleton-timeframe {
  margin-bottom: 32px;
}

.HomePage__skeleton-buying-power {
  margin-bottom: 32px;
}

.HomePage__skeleton-news {
  margin-bottom: 32px;
  margin-top: 32px;
  border-radius: 4px;
}

/* ========== Media Queries ========== */

/* Extra Large Screens (Desktops & TVs) */
@media (min-width: 1440px) {
  /* Styles for large desktop screens */
  .HomePage__main {
    max-width: 900px;
  }
}

/* Large Desktops */
@media (max-width: 1280px) {
  /* Styles for medium-sized desktops */
  .HomePage__main {
    max-width: 800px;
  }
}

/* Small Desktops & Large Tablets */
@media (max-width: 1024px) {
  /* Adjust layouts, reduce container sizes */
  .HomePage__main {
    max-width: 700px;
  }
}

@media (max-width: 830px) {
  /* Stack columns, adjust text sizes, shrink margins */
  .HomePage__main {
    max-width: 550px;
  }
}

/* Tablets (Portrait & Small Laptops) */
@media (max-width: 768px) {
  /* Stack columns, adjust text sizes, shrink margins */
  .HomePage__main {
    /* width: 55vw; */
    max-width: 450px;
  }
}

/* Large Phones (Landscape Mode) */
@media (max-width: 700px) {
  /* Reduce button sizes, make touch targets larger */
  .HomePage__main {
    width: 90%;
    max-width: none;
  }
}

/* Most Mobile Phones (Portrait Mode) */
@media (max-width: 480px) {
  /* Full-width elements, simplify layouts */
}

/* Very Small Phones */
@media (max-width: 360px) {
  /* Reduce paddings/margins for ultra-small screens */
}
