/* ========== Home Page ========== */
/* Home Page Container */
.HomePage {
  display: flex;
  justify-content: center;

  gap: 3vw;

  margin-top: var(--margin-top-page);
  margin-bottom: var(--margin-bottom-page);
}

/* HomePage main content area styles */
.HomePage__main {
  width: clamp(400px, 50vw, 1000px);

  display: flex;
  flex-direction: column;

  margin-top: var(--margin-top-container);

  transition: width 0.3s smooth;
}


/* ====== Skeleton Loading ====== */
.HomePage__skeleton-overview {
  display: flex;
  flex-direction: column;

  gap: 3vw;
  margin-bottom: var(--margin-bottom-container);
}

.HomePage__skeleton-stats {
  display: flex;
  gap: 20px;
}

.HomePage__skeleton-chart {
  margin-bottom: 32px;
}

.HomePage__skeleton-timeframe {
  margin-bottom: 32px;
}

.HomePage__skeleton-buying-power {
  margin-bottom: 32px;
}

.HomePage__skeleton-news {
  margin-bottom: 32px;
  margin-top: 32px;
  border-radius: 4px;
}

/* ====== Media Queries ====== */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .HomePage__main {
    width: 90vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
