.HomePage {
  display: flex;
  justify-content: center;

  gap: var(--page-gap);
  margin-top: var(--page-margin-top);
  margin-bottom: var(--page-margin-bottom);
}

.HomePage__main {
  width: clamp(200px, 60vw, 1000px);

  display: flex;
  flex-direction: column;

  margin-top: var(--container-margin-top);
}


@media (max-width: 768px) {
  .HomePage__main {
    width: 90vw;
  }
}

@media (max-width: 480px) {
  .HomePage {
    margin-top: 70px;
  }

  .HomePage__main {
    width: 90vw;
    margin-top: 0px;
  }
}
