.StockWatchList {
  margin-top: 30px;
}

.StockWatchList__container {
  position: sticky;
  top: 85px;
  width: 300px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.StockWatchList__body {
  height: 110px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.StockWatchList__title {
  height: 50%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 15px;
}

.StockWatchList__text {
  height: 50%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 13px;
}

.StockWatchList__button {
  height: 36px;
  width: 90%;

  background-color: white;
  color: rgb(255, 118, 58);

  border-radius: 20px;
  border: 1px solid rgb(255, 118, 58);

  font-size: 12px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.StockWatchList__check-mark {
  height: 20px;
  width: 20px;
}
.StockWatchList__button:hover {
  background-color: rgb(252, 222, 208);
}
