.TradeType {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 20px;
  border-bottom: 1px solid var(--border-color);
  font-weight: bold;
  font-size: 13px;
}

.TradeType--disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--color-text-primary) !important;
}

.TradeType--disabled.TradeType--selected {
  box-shadow: none !important;
}

.TradeType_select {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.TradeType_select:not(.TradeType--disabled):hover {
  color: var(--theme-primary-color);
}

.TradeType--selected {
  box-shadow: 0 2px 0 var(--theme-primary-color);
  color: var(--theme-primary-color);
}

.TradeType__close-button {
  display: flex;
  align-items: center;

  padding: 4px;

  max-height: 30px;
  margin-left: auto;
}

.TradeType__close-button:hover {
  background-color: var(--icon-color-hover);
  border-radius: 4px;
}

.TradeType__close-button-icon {
  height: 22px;
  width: 22px;
  font-size: 22px;


  color: var(--icon-color);
}
