.StocksPage {
  display: flex;
  flex-direction: column;

  margin-top: 60px;
}

.StocksPage__banner {
  height: 180px;

  background-color: var(--theme-primary-hover);
  background-image: url("https://png.pngtree.com/png-vector/20230728/ourmid/pngtree-boost-clipart-cartoon-rocket-ship-traveling-into-the-space-vector-png-image_6796486.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 40%;
}

.StocksPage__container {
  display: flex;
  justify-content: center;

  gap: var(--page-gap);
}

.StocksPage__main {
  width: clamp(400px, 60vw, 1000px);

  display: flex;
  flex-direction: column;
}

.StocksPage__section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.StocksPage__header {
  height: 100px;
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 4px;
}

.StocksPage__hide--header {
  height: 58px;
}

.StocksPage__title {
  font-size: 18px;
  font-weight: bold;
}

.StocksPage__subtitle {
  display: flex;
  align-items: center;

  gap: 2px;

  font-size: 13px;
  color: var(--color-text-secondary);
  font-weight: 500;
}

.StocksPage__check-mark-icon {
  height: 10px;
  width: 10px;

  color: var(--theme-primary-color);
}

.StocksPage__menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  gap: 16px;
}

.StocksPage__settings-icon {
  height: 20px;
  width: 20px;

  cursor: pointer;
}

.StocksPage__settings-icon:hover {
  color: var(--theme-primary-color);
}

.StocksPage__follow-button {
  height: 32px;
  width: 86px;

  position: relative;

  align-self: center;
  align-items: center;
  text-align: center;

  font-weight: bold;
  font-size: 12px;

  color: var(--color-background);
  background-color: var(--theme-primary-color);

  border-radius: 44px;

  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.StocksPage__follow-button:hover {
  background-color: var(--theme-primary-color-hover);
}

.StocksPage__description {
  font-size: 15px;
  font-weight: 500;
  /* margin-left: 8px; */

}

.StocksPage__hide--description {
  display: none;
}

.StocksPage__hide--description {
  opacity: 0;
}

@media (max-width: 768px) {
  .StocksPage__main {
    width: 90vw;
  }
}

@media (max-width: 480px) {
  .StocksPage {
    display: flex;
    flex-direction: column;

    margin-top: 38px;
  }

  .StocksPage__banner {
    height: 120px;

    background-color: var(--theme-primary-hover);
    background-image: url("https://png.pngtree.com/png-vector/20230728/ourmid/pngtree-boost-clipart-cartoon-rocket-ship-traveling-into-the-space-vector-png-image_6796486.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}
