.PortfolioStocks__title {
  font-size: 17px;
  font-weight: bold;
}

.PortfolioStocks__stock-table {
  width: 100%;

  border-collapse: collapse;
  table-layout: fixed;
}

.PortfolioStocks__stock-table thead {
  height: 48px;

  text-align: left;

  font-size: 11px;

  color: var(--color-text-secondary);

  cursor: pointer;
}

.PortfolioStocks__stock-table thead th:hover {
  color: var(--theme-primary-color);
}

.PortfolioStocks__table-item:hover {
  box-shadow:
    /* Top */ 0px 0px 0px 0px var(--color-hover),
    /* Left */ -16px 0px 0px 0px var(--color-hover),
    /* Right */ 16px 0px 0px 0px var(--color-hover);
  background-color: var(--color-hover);
}

.PortfolioStocks__stock-name {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PortfolioStocks__stock-table th,
.PortfolioStocks__stock-table td {
  height: 48px;

  padding: 8px 0;
  border-bottom: 1px solid var(--border-color);
}

.PortfolioStocks__stock-table td {
  cursor: pointer;
}

.PortfolioStocks__stock-table tbody tr {
  font-size: 11px;
}

.PortfolioStocks__stock-table tbody tr td:first-child {
  font-weight: bold;
}

.PortfolioStocks__stock-table tbody tr {
  font-size: 11px;
  font-weight: 500;
}
