/* ========== Time Frame Selection Bar ========== */

/* * Container for the time frame selector */
.TimeFrameSelector {
  height: 35px;
  width: 100%;

  position: relative;
  display: flex;

  gap: 20px;
  padding-top: 4px;

  cursor: pointer;
  border-bottom: var(--border);
}

/* ========== Time Frame Options ========== */

/* * Individual time frame option */
.TimeFrameSelector span {
  padding: 0 4px;
  position: relative;

  font-size: var(--font-size-text-md);
  font-weight: var(--font-weight-bold);
}

/* * Hover effect for time frame option */
.TimeFrameSelector span:hover {
  color: var(--theme-primary-color);
}

/* ========== Selected Time Frame ========== */

/* * Active time frame option */
.TimeFrameSelector span.TimeFrameSelector--selected {
  color: var(--theme-primary-color);
}

/* * Underline effect for selected time frame */
.TimeFrameSelector span.TimeFrameSelector--selected::after {
  height: 2px;

  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;

  background-color: var(--theme-primary-color);
}
