.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;

  width: 720px;
}

#search-icon {
  position: absolute;
  top: 50%;
  left: 10px;

  height: 20px;
  width: 20px;

  color: rgb(122, 122, 122);

  transform: translateY(-50%);
  pointer-events: none;
}

.search-bar {
  box-sizing: border-box;

  height: 40px;
  width: 100%;
  padding: 10px 10px 10px 35px;

  font-size: 15px;

  border: solid rgb(231, 231, 231) 1px;
  border-radius: 2px;
  outline: none;
}

.search-bar:focus {
  border-top: solid rgb(231, 231, 231) 1px;
  border-right: solid rgb(231, 231, 231) 1px;
  border-left: solid rgb(231, 231, 231) 1px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
}

.search-results {
  box-sizing: border-box;
  position: absolute;
  top: 55%;

  padding: 10px 24px;

  width: 100%;

  font-size: 13px;
  font-weight: bold;

  background-color: rgb(255, 255, 255);
  color: black;

  border: solid rgb(231, 231, 231) 1px;
  border-top: none; /* Prevents double border */
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

  list-style: none;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f2f2f2;
}
