.StocksTable__container {
  display: flex;
  flex-direction: column;


}

.StocksTable {
  width: 100%;
  margin-top: 12px;

  table-layout: fixed;
  border-collapse: collapse;

  scrollbar-width: none;
  overflow-y: auto;
}

.StocksTable__no-data {
  text-align: center;
  padding: 2rem;
}

.StocksTable__sort-icon {
  vertical-align: middle;

  font-size: 0.8rem;

  color: var(--icon-color);

  transition: all 0.2s ease;
}

.StocksTable__sort-icon--active {
  color: var(--theme-primary-color);
}

.StocksTable__skeleton-row {
  height: 60px;
  border-bottom: 1px solid var(--border-color);
}

.StocksTable__skeleton-row td {
  vertical-align: middle;
}

.StocksTable__skeleton-row .Skeleton {
  border-radius: 4px;
}
