.ProfilePage {
  height: 100vh;
  width: 65%;
  min-width: 600px;

  display: flex;
  flex-direction: column;
  align-content: center;

  margin: 120px auto 0;
  padding: 20px;

  color: rgb(0, 0, 0);

  margin-bottom: 120px;
}

.ProfilePage__container {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.ProfilePage__user {
  height: 100px;

  display: flex;

  margin-bottom: 20px;
}

.ProfilePage__user__image {
  height: 100px;
  width: 90px;

  position: relative;
  display: flex;
  align-items: center;
}

.ProfilePage__user__profile-pic {
  height: 70%;
  width: 70%;

  color: rgb(180, 189, 194);
}

.ProfilePage__user__plus-icon {
  height: 20px;
  width: 20px;

  position: absolute;
  top: 70px;
  right: 20px;

  background-color: white;

  border-radius: 50%;
  cursor: pointer;
}

.ProfilePage__user__information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ProfilePage__user__information__name {
  font-size: 20px;
  font-weight: bold;
}

.ProfilePage__user__information__username {
  margin-right: 4px;

  font-size: 16px;
}

.ProfilePage__user__information__join-date {
  margin-left: 4px;

  color: rgb(169, 169, 169);
}

.ProfilePage__user__information__edit {
  font-size: 14px;
  font-weight: bold;

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: black;
  text-underline-offset: 4px;

  cursor: pointer;
}

.ProfilePage__total {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  font-size: 14px;
}

.ProfilePage__total__line {
  width: 26px;
  height: 5px;

  background-color: rgb(55, 55, 55);
}

.ProfilePage__investments {
  height: 180px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.ProfilePage__investments__header {
  height: 36px;

  display: flex;
  align-items: center;

  gap: 3px;
  padding-bottom: 16px;

  border-bottom: solid 1px rgb(230, 230, 230);
}

.ProfilePage__investments__header__text {
  font-size: 20px;
  font-weight: bold;
}

.ProfilePage__investments__header__info-icon {
  font-size: 12px;
  cursor: pointer;
}

.ProfilePage__investments__header__info-icon:hover {
  font-size: 12px;
  background-color: rgb(237, 237, 237);
}

.ProfilePage__investments__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  gap: 12px;
}

.ProfilePage__investments__details__value {
  display: flex;
  justify-content: space-between;

  padding-right: 5px;
}

.ProfilePage__investments__details__value-text {
  font-weight: bold;
}

.ProfilePage__investments__details__subtext {
  font-size: 14px;

  color: rgb(165, 165, 165);
}

.ProfilePage__investments__details__dash {
  font-size: 20px;

  color: black;
}

.ProfilePage__overview {
  height: 200px;

  display: flex;
  flex-direction: column;
}

.ProfilePage__overview__title {
  height: 40px;

  font-size: 26px;
  font-weight: bold;
}

.ProfilePage__overview__contents {
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.ProfilePage__overview__button {
  height: 70px;
  width: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;

  background-color: rgb(232, 232, 232);

  border-radius: 50%;
  cursor: pointer;
}

.ProfilePage__overview__button:hover {
  background-color: black;
  color: white;
}

.ProfilePage__overview__percentage {
  font-weight: bold;
}

.ProfilePage__overview__description {
  height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 4px;
}

.ProfilePage__description__text {
  font-size: 14px;

  color: rgb(124, 124, 124);
}

.ProfilePage__description__subtext {
  font-size: 14px;
  font-weight: bold;
}

.ProfilePage__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 5px;
  margin-top: 10px;

  font-size: 14px;
}

.ProfilePage__buttons div {
  height: 32px;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  border-radius: 20px;
  border: 1px solid rgb(232, 232, 232);

  cursor: pointer;
}

.ProfilePage__buttons div:hover {
  background-color: rgb(242, 253, 254);
}

.ProfilePage__disclaimer {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  padding-top: 80px;

  font-size: 14px;

  color: rgb(165, 165, 165);
}

.ProfilePage__disclaimer__show-more {
  align-self: self-start;

  color: black;

  font-weight: bold;
}

.ProfilePage__total__balance {
  font-size: 24px;
  font-weight: bold;
}



.ProfilePage__spinner {
  position: absolute;
  left: 24px;
  top: 36px;

  width: 24px;
  height: 24px;
  
  border-radius: 50%;
  animation: spin 2s linear infinite;
  color:rgb(0, 15, 179);

}

.profile-blur{
  filter: blur(1px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
