.ListItemActions {
  display: flex;
  gap: 12px;

  /* background-color: antiquewhite; */

}

.ListItemActions__menu-button {
  display: flex;
  align-items: center;

  padding: 4px;

  color: var(--icon-color);

  border-radius: var(--border-radius-sm);

  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.ListItemActions__menu-button:active,
.ListItemActions__menu-button:focus {
  outline: none;
  color: inherit;
  background-color: inherit;
}

.ListItemActions__menu-button:hover {
  background-color: var(--icon-color-hover);
  opacity: 1;
}

.ListItemActions__container:hover .ListItemActions__menu-button {
  opacity: 1;
}

.ListItemActions__menu-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;

  color: var(--icon-color);
}

.ListItemActions__arrow-button {
  display: flex;
  align-items: center;

  padding: 4px;
}

.ListItemActions__arrow-icon {
  height: 18px;
  width: 18px;
  font-size: 18px;

  color: var(--icon-color);

  transition: transform 0.3s ease;
}

.ListItemActions__arrow-icon.open {
  transform: rotate(180deg);
}

.ListItemActions__arrow-icon:hover {
  color: var(--theme-primary-color);
}

@media (max-width: 480px) {
  .ListItemActions {
    gap: 16px;
  }

  .ListItemActions__menu-button {
    opacity: 1;
  }

  .ListItemActions__arrow-icon {
    height: 22px;
    width: 22px;
    font-size: 22px;
  }

  .ListItemActions__menu-icon {
    height: 22px;
    width: 22px;
    font-size: 22px;
  }
}
