/* ========== Trade Summary ========== */
/* Main container for the trade summary */
.TradeSummary {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  font-size: 11px;
  font-weight: 600;
}

/* Estimated quantity or cost display */
.TradeSummary__estimate {
  font-weight: bold;
  margin-bottom: 20px;
}

/* ========== Trade Summary Errors ========== */
/* Container for displaying errors */
.TradeSummary__errors {
  /* height: 64px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 20px;

  font-size: 12px;
  margin-top: 16px;
}

/* Title inside the error message */
.TradeSummary__title {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4px;

  font-weight: bold;
  margin-bottom: 4px;
}

/* Error icon inside the message */
.TradeSummary__error-icon {
  font-size: 16px;
  color: var(--color-text-secondary);
}

/* Error message text */
.TradeSummary__error-message {
  width: 220px;

  margin-left: 20px;
  margin-top: 4px;

  font-size: 11px;
  /* font-weight: 500; */
  line-height: 1.4;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

/* ========== Trade Summary Messages ========== */
/* Container for general messages */
.TradeSummary__messages {
  /* height: 64px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  padding-left: 20px;
}

/* Message text */
.TradeSummary__message {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 11px;
  font-weight: 500;
  width: 250px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
