.LoginPage {
  height: 100vh;
  min-height: 100vh;


  display: flex;
  flex-direction: row;

  background-color: var(--color-black);
}

.LoginPage__aside {
  width: 50%;

  align-items: stretch;

  background-color: var(--color-black);
  background-image: url("https://preview.redd.it/kurzgesagt-4k-wallpapers-3840x2160-v0-thrpw4zmouhb1.png?width=3840&format=png&auto=webp&s=b1dfb23b2606ba97b175f60c77bfc8a9eb13f4f8");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: width 1s ease;


}

.LoginPage__main {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: start;

  margin-top: 80px;
  margin-left: 32px;
  margin-right: 32px;

  background-color: var(--color-black);
  color: var(--color-white);

  padding-bottom:64px;
}

.LoginPage__form {
  display: flex;
  flex-direction: column;

  padding: 16px;
  gap: 16px;

  font-size: 14px;
}

.LoginPage__form header {
  margin-bottom: 16px;

  font-size: 18px;
}

.LoginPage__form__password {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.LoginPage__form-input {
  width: 100%;
  min-height: 36px;

  padding-right: 40px;
  padding-left: 12px;

  background-color: var(--color-black);
  color: var(--color-white);

  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.LoginPage__form__password-icon {
  position: absolute;
  right: 10px;

  font-size: 18px;

  background-color: var(--color-black);
  color: var(--color-white);

  cursor: pointer;
}

.LoginPage__form__errors {
  min-height: 50px;

  display: inline-flex;
  align-items: center;

  padding-left: 10px;

  font-size: 14px;

  background-color: var(--dark-grey);

  border-radius: var(--border-radius-xs);
}

.LoginPage__form__errors-icon {
  min-height: 20px;
  width: 20px;

  margin-right: 8px;
}

.LoginPage__form__buttons {
  display: flex;

  gap: 16px;
}

.LoginPage__form__button {
  width: 100%;
  height: 40px;

  gap: 8px;
  padding: 0 32px;

  font-weight: var(--font-weight-bold);

  border-radius: var(--button-border-radius-lg);
  white-space: nowrap;
}

.LoginPage__form__login-account-btn {
  background-color: var(--color-white);
  color: var(--color-black);

  border: none;
}

.LoginPage__form__login-account-btn:hover {
  background-color: var(--color-accent);
}

.LoginPage__form__create-account-btn {
  background-color: var(--color-black);
  color: var(--color-white);

  border: 1px solid var(--color-white);
}

.LoginPage__form__create-account-btn:hover {
  background-color: var(--dark-grey);
}

@media screen and (max-width: 770px) {

  .LoginPage{
    height: 100%;
  }
  .LoginPage__aside {
    display: none;
  }
  .LoginPage__main {
    width: 100%;

  }

  .LoginPage__form__buttons {
    flex-direction: column;
  }

  .LoginPage__form__buttons button {
    width: 100%;
  }
}
