
html, body, div {
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* height: 100%; */
  /* overflow-x: hidden; */
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: serif;

}


html{
  background-color: rgb(255, 255, 255);
  color: white;

}
