html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 100%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* var(); */
:root {
  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Typography */
  --font-base: 16px;
  --font-sm: 14px;
  --font-lg: 20px;
  --font-xl: 24px;
  --font-family-sans: "Montserrat", sans-serif;
  --line-height: 1.5;
  --font-weight-normal: 500;
  --font-weight-bold: 700;

  /* Colors */
  --color-primary: #07de96;
  --color-primary-hover: rgb(7, 239, 162);
  --color-secondary: #ca63fc;
  --color-tertiary: rgb(22, 7, 40);

  --percent-change-positive: rgb(44, 202, 4);
  --percent-change-negative: rgb(255, 29, 4);

  --color-white: #ffffff;
  --color-black: #000000;

  /* /light button hover */
  --color-accent: #e0e0e0;

  /* dark button hover */
  --dark-grey: #1e2125;

  --button-hover-light-green: rgb(211, 255, 240);

  --color-text: #333;
  --color-muted: #888;
  --color-lightgrey: rgb(231, 231, 231);

  --color-light-text: rgb(106, 114, 120);

  /* disabled button */
  --color-disabled: rgb(180, 189, 194);

  /* light blue highlight */
  --color-highlight: rgba(245, 248, 250);

  /* light gray icon */
  --color-icon-grey: rgb(106, 114, 120);

  /* icon grey background hover */
  --light-background-hover: rgb(237, 237, 237);

  /* Button Padding */
  --button-padding: 0 32px;

  --button-hover-lg: rgb(244, 244, 244);
  --button-border-white: 1px solid #fff;
  --button-border-dark: 1px solid #000000;

  --border-radius-xs: 5px;
  --button-border-radius-lg: 36px;

  --button-height: 40px;

  /* /light */
  --border-color: rgb(227, 233, 237);

  /* dark */
  --border-color-2: rgb(48, 54, 58);
}

.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #bb86fc;
}
