.ChooseListType {
  display: flex;
  justify-content: center;

  background-color: var(--color-surface);
  border-radius: 4px;
  z-index: 20;

  height: 410px;
  width: 430px;
}

.ChooseListType__container {
  display: flex;
  flex-direction: column;

  padding: 16px 24px;
}

.ChooseListType__options {
  display: flex;
  gap: 8px;
}

.ChooseListType__option {
  height: 260px;
  width: 188px;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-color);
  border-radius: 2px;

  cursor: pointer;
}

.ChooseListType__option__image {
  height: 150px;
  width: 100%;

  border-bottom: solid 1px var(--border-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ChooseListType__image-one {
  background-image: url("/screener.svg");
  background-color: rgb(213, 241, 248);
}

.ChooseListType__image-two {
  background-image: url("/watch-list.png");
  background-color: rgb(133, 255, 180);
}

.ChooseListType__option__text {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 16px 16px;
}

.ChooseListType__text__title {
  font-size: 13px;
  font-weight: bold;
}

.ChooseListType__text__sub-text {
  font-size: 11px;
  font-weight: 500;
}

.ChooseListType__back-button {
  height: 40px;

  margin-top: 24px;
  margin-bottom: 8px;

  font-weight: bold;
  font-size: 12px;
  color: var(--color-background);
  background-color: var(--theme-primary-color);

  border-radius: 44px;
}

.ChooseListType__back-button:hover {
  background-color: var(--theme-primary-hover);
}

@media (max-width: 480px) {
  .ChooseListType {
    width: 100%;

    height: 50%;
    border-radius: 0px;
  }

  .ChooseListType__options {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  .ChooseListType__option {
    height: 100px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .ChooseListType__option__image {
    height: 100px;
    width: 20%;
  }

  .ChooseListType__option__text {
    width: 80%;
    padding: 8px 12px;
  }
}
