.CreateListToggle {
  position: relative;
  z-index: 20;

  width: 100%;

  display: flex;

  cursor: pointer;
}

.CreateListToggle__toggle {
  display: flex;
  margin-bottom: 8px;

}

.CreateListToggle__toggle-icon-container {
  height: 60px;
  width: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;


  font-size: 24px;

  color: var(--theme-primary-color);
  background-color: var(--button-primary-hover-light);

  border-radius: 4px;


}

.CreateListToggle__icon {
  color: var(--theme-primary-color);
}

.CreateListToggle__title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 500;

  color: var(--color-text-primary);
}

.CreateListToggle__toggle-container,
.CreateListToggle__title {
  transition: transform 0.3s ease-out;
}

.CreateListToggle__form-container.exit ~ .CreateListToggle__toggle-container,
.CreateListToggle__form-container.exit ~ .CreateListToggle__title {
  transform: translateY(-100%);
}
