/* ========== Create List Toggle ========== */
.CreateListToggle {
  position: relative;
  z-index: 20;

  width: 100%;
  height: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 8px;

  cursor: pointer;
}

/* Create New List Toggle */
.CreateListToggle__toggle {
  display: flex;
}

.CreateListToggle__toggle-icon-container {
  height: 60px;
  width: 48px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 41px;
  margin-bottom: 4px;

  font-size: 24px;

  background-color: var(--button-primary-hover-light);
  color: var(--theme-primary-color);

  border-radius: 4px;
}

/* Create New List Toggle Icon */
.CreateListToggle__icon {
  color: var(--theme-primary-color);
}

.CreateListToggle__title {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 500;

  color: var(--color-text-primary);
}

/* Create New List Toggle */
.CreateListToggle__toggle-container,
.CreateListToggle__title {
  transition: transform 0.3s ease-out;
}

/* Create New List Toggle exit */
.CreateListToggle__form-container.exit ~ .CreateListToggle__toggle-container,
.CreateListToggle__form-container.exit ~ .CreateListToggle__title {
  transform: translateY(-100%);
}
