.AddToListModalFooter {
  display: flex;
  justify-content: center;

  padding-top: 8px;
}

.AddToListModalFooter__button {
  min-height: 38px;
  width: 100%;

  padding: 0 20px;

  font-size: 12px;
  font-weight: bold;

  color: var(--color-background);
  background-color: var(--theme-primary-color);

  border-radius: 44px;
}

.AddToListModalFooter__button:hover {
  background-color: var(--theme-primary-hover);
}

.AddToListModalFooter__button:disabled {
  background-color: var(--disabled-button-color);
}
