.EditProfileModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

.EditProfileModal__background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);
}

.EditProfileModal__container {
  position: absolute;
  position: fixed;
  top: 20%;

  height: 400px;
  width: 400px;

  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;

  background-color: rgb(255, 255, 255);

  border-radius: 5px;
}

.EditProfileModal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.EditProfileModal__header__title {
  font-size: 18px;
  font-weight: bold;
}

.EditProfileModal__section {
  display: flex;
  flex-direction: column;

  gap: 8px;

  height: 320px;
}

.EditProfileModal__close-button {
  height: 22px;
  width: 22px;

  cursor: pointer;
}

.EditProfileModal__close-button-span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 30px;
  width: 30px;

  cursor: pointer;
}

.EditProfileModal___user__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 100%;

}

.EditProfileModal___user__profile-pic {
  height: 80%;
  width: 80%;

  color: rgb(180, 189, 194);
}

.EditProfileModal___user__plus-icon {
  position: absolute;
  top: 50px;
  right: 145px;

  height: 20px;
  width: 20px;

  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.EditProfileModal__user__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.EditProfileModal__user__info-title {
  font-weight: bold;
  font-size: 14px;
}

.EditProfileModal__user__info-input {
  height: 26px;
  border: none;
  background-color: aliceblue;
  border-radius: 1px;
}

.EditProfileModal__section__theme {
  display: flex;
  flex-direction: column;
  height: 150px;
  gap: 8px;
}

.EditProfileModal__section__title {
  font-weight: bold;
  font-size: 14px;
}

.EditProfileModal__section-selector {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.EditProfileModal__color-btn {
  height: 48px;
  width: 48px;
  background-color: aliceblue;
  border-radius: 50%;
  cursor: pointer;
}

.EditProfileModal__section__save {
  display: flex;
  height: 40px;
}

.EditProfileModal__section_save-button {
  width: 100%;
  border-radius:20px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
