.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  margin-bottom: 16px;
  margin-top: 16px;

  padding: 8px;
}

.Pagination__button {
  padding: 0.5rem 1rem;
  width: 90px;

  border: var(--border);
  border-radius: var(--border-radius-sm);

  font-size: var(--font-size-text-md);
  font-weight: var(--font-weight-bold);

  background-color: var(--color-background);
  color: var(--color-text-primary);

  cursor: pointer;

  transition: all 0.2s ease;
}

.Pagination__button:hover:not(:disabled) {
  background-color: var(--color-hover);
}

.Pagination__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Pagination__info {
  font-size: var(--font-size-text-md);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-secondary);
}
