.login-page-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.login-form-section-1 {
  background-color: black;
  background-image: url("https://static.vecteezy.com/system/resources/previews/017/125/591/original/outer-space-background-with-planets-and-stars-free-vector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  align-items: stretch;
  transition: width 1s ease;
}

.login-form-section-2 {
  background-color: rgb(0, 0, 0);
  color: white;
  padding-top: 80px;
  width: 50%;
  max-width: 700px;
}

.login-form-top {
  height: 60%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2vh;
  overflow: hidden;
  font-size: 15px;
  gap: 15px;
}

.login-form p {
  font-size: 20px;
}

.login-form input,
.password-container input {
  /* width: 96%; */
  width: calc(95% - 10px); /* Subtract padding to maintain alignment */
  padding-left: 10px;
  min-height: 36px;
  /* background: transparent; */
  background-color: #000000;
  border-style: solid;
  border-color: rgb(48, 54, 58);
  border-width: 1px;
  border-radius: 5px;
  color: white;
}

.login-button-container {
  display: flex;
  gap: 15px;
  width: 96%;
}

.login-button-container button {
  text-decoration: none;

  align-items: center;

  border-radius: 36px;
  box-sizing: border-box;
  height: 44px;
  width: 50%;
  gap: 10px;

  margin-top: 20px;

  justify-content: center;
  overflow: hidden;
  padding: 0 32px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #1c180d;
  cursor: pointer;
  font-weight: bold;

  cursor: pointer;
}

.login-button-container a {
  display: contents;
}

#create-acct-btn {
  background-color: black;
  color: white;
}

#create-acct-btn:hover {
  background-color: rgb(47, 47, 47);
}

@media screen and (max-width: 770px) {
  .login-form-section-1 {
    display: none;
  }
  .login-form-section-2 {
    width: 100%;
    height: 100%;
  }

  .login-form-top {
    height: 100%;
    /* overflow: hidden; */
  }

  .login-button-container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.login-errors {
  background-color: rgb(30, 33, 37);
  min-height: 50px;
  width: calc(95% - 6px); /* Subtract padding to maintain alignment */
  padding-left: 10px;
  border-width: 1px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;

  font-size: 17px !important;
}

.info-icon {
  /* background-color: rgb(36, 36, 36); */
  min-height: 20px;
  width: 20px;
  margin-right: 10px;
}

.password-container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.password-icon {
  position: relative;
  right: 30px;
  cursor: pointer;
  color: rgb(255, 255, 255);  /* Icon color */
  font-size: 20px;
  background-color: rgb(0, 0, 0);

}
