/* ========== List Page ========== */

.ListPage {
  display: flex;
  justify-content: center;

  /* ! unify media queries */
  margin-top: 85px;
  gap: 1.5vw;
}

/* List Page main content area styles */
.ListPage__main {
  /* ! unify media queries */
  width: 65vw;
  min-width: 400px;
  max-width: 900px;

  display: flex;
  flex-direction: column;

  margin-top: 30px;

  transition: width 0.3s smooth;
}


/* List Page No stocks - no table */
.ListPage__no-stocks-container {
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 16px;
}

.ListPage__no-stocks-container-text {
  font-weight: bold;
  font-size: 18px;
}

.ListPage__no-stocks-container-subtext {
  font-weight: 500;
  font-size: 13px;
}
