/* ========== List Page ========== */

.ListPage {
  height: 100vh;
  display: flex;
  justify-content: center;

  /* ! unify media queries */
  margin-top: 80px;
  gap: 1.5vw;
}

.ListPage__padding {
  padding-left: 8px;
}

/* List Page main content area styles */
.ListPage__main {
  /* ! unify media queries */
  width: clamp(400px, 60vw, 1000px);

  display: flex;
  flex-direction: column;

  margin-top: 30px;

  transition: width 0.3s smooth;
}

/* List Page No stocks - no table */
.ListPage__no-stocks-container {
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 16px;

}

.ListPage__no-stocks-container-text {
  font-weight: bold;
  font-size: 18px;

}

.ListPage__no-stocks-container-subtext {
  font-weight: 500;
  font-size: 13px;
}


