.apexcharts-tooltip {
  background-color: var(--color-background) !important;
  color: var(--color-text-primary) !important;
  border: solid var(--border-color) 1px !important;
}

.apexcharts-tooltip-title {
  background-color: var(--color-surface) !important;
  color: var(--color-text-primary) !important;
  border: solid var(--border-color) 1px !important;
}
