.apexcharts-tooltip {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  border: solid var(--border-color) 1px !important;
}

.apexcharts-tooltip-title {
  background-color: var(--search-results-hover) !important;
  color: var(--text-color) !important;
  border: solid var(--border-color) 1px !important;
}
