/* ========== Create List Form Container ========== */
.CreateListToggleForm {
  position: relative;

  width: 100%;

  z-index: 20;
}

.CreateListToggleForm__main {
  /* height: 90px; */
  width: 100%;
  z-index: 20;

  display: flex;
  flex-direction: column;

  background-color: var(--color-surface);

  animation: dropdown 0.3s ease-out;
}

/* Create List Form Exit */
.CreateListToggleForm__main.exit {
  animation: slideUp 0.3s ease-out forwards;
}

/* Create List Form Dropdown Animations */
@keyframes dropdown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Create List Form Slide Up Animation */
@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* ========== Create List Form Input Container ========== */
.CreateListToggleForm__input {
  position: relative;

  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

/* Create List Form Emoji Picker Button */
.CreateListToggleForm__emoji-button {
  position: relative;

  height: 42px;
  width: 46px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  background-color: var(--color-hover);

  border: solid 1px var(--border-color);
  border-radius: 4px;

  cursor: pointer;

  z-index: 900;
}

/* Create List Emoji Picker Wrapper */
.CreateListToggleForm__emoji-wrapper {
  position: fixed;
  top: calc(20% + 24px);
  left: 24px;


  z-index: 1000;

}

/* Create List Name Input */
.CreateListToggleForm__name-input {
  width: 90%;
  height: 42px;

  padding: 2px 15px;
  margin-right: 1px;

  font-size: 13px;

  background-color: var(--color-hover-secondary-light);
  color: var(--color-text-primary);

  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.CreateListToggleForm__name-input:focus {
  border: solid 1px var(--theme-primary-color);
  background-color: var(--color-surface);
}

/* Create List Form Buttons Container */
.CreateListToggleForm__buttons {
  display: flex;
  justify-content: end;
  gap: 8px;

  margin-right: 1px;
}

/* Create List Form Buttons */
.CreateListToggleForm__button {
  height: 32px;
  padding: 0 20px;

  font-size: 12px;
  font-weight: bold;

  border-radius: 44px;
  cursor: pointer;
}

/* Create List Form Cancel Button */
.CreateListToggleForm__cancel-button {
  color: var(--theme-primary-color);
  background-color: var(var(--color-surface));

  border: solid 1px var(--theme-primary-color);
}

/* Create List Form Cancel Button Hover */
.CreateListToggleForm__cancel-button:hover {
  background-color: var(--button-primary-hover-light);
}

/* Create List Form Create Button */
.CreateListToggleForm__create-button {
  color: var(--color-background);
  background-color: var(--theme-primary-color);
  min-width: 103px;
}

/* Create List Form Create Button Hover */
.CreateListToggleForm__create-button:hover {
  background-color: var(--theme-primary-hover);
}



@media (max-width: 480px) {
/* Create List Emoji Picker Wrapper */
.CreateListToggleForm__emoji-wrapper {
  position: fixed;
  top: auto;
  bottom: 0;


  z-index: 1000;

}

}
