.TransfersPage {
  height: 100%;
  width: 900px;

  display: flex;
  flex-direction: column;

  margin: 0px auto 0;
}

.TransfersPage__section {
  height: auto;

  margin-top: 30px;
}

.TransfersPage__transfer-container {
  height: 72px;

  display: flex;
  flex-direction: column;

  gap: 8px;
}

.TransfersPage__transfer-title {
  font-size: 24px;
}

.TransfersPage__transfer-subtext {
  font-size: 14px;
}
.TransfersPage__transfer-subtext span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.TransfersPage__invest-section {
  height: 120px;
}

.TransferPage__transfer-link {
  height: 90px;
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures the '>' stays on the far right */

  gap: 4px;

  border-bottom: 1px solid rgb(232, 232, 232);
  cursor: pointer;
}

.TransferPage__transfer__money-icon-container {
  height: 42px;
  width: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(0, 0, 0);

  border-radius: 50%;
}

.TransfersPage__money-icon {
  height: 24px;
  width: 24px;

  color: white;
}

.TransfersPage__text {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
  gap: 4px;
}

.TransfersPage__subtitle {
  font-size: 14px;

  color: rgb(85, 85, 85);
}

.TransfersPage__arrow-container {
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
}

.TransfersPage__arrow-icon {
  height: 18px;
  width: 18px;

  color: rgb(85, 85, 85);
}

.TransfersPage__withdraw-section {
  height: 90px;

  display: flex;
  flex-direction: column;

  gap: 4px;
}

.TransfersPage__withdraw-section-title {
  color: rgb(85, 85, 85);
}

.TransfersPage__question-mark-icon {
  height: 14px;
  width: 14px;

  margin-left: 2px;

  color: rgb(85, 85, 85);
}

.TransfersPage__completed-transfer-section {
  overflow: auto;
  scrollbar-width: none;
}

.TransfersPage__completed-transfer-section-title {
  height: 40px;

  font-size: 24px;

  border-bottom: 1px solid rgb(232, 232, 232);
}

.TransfersPage__completed-transactions-container {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(232, 232, 232);

  cursor: pointer;
}

.TransfersPage__completed-contents {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.TransfersPage__completed-transactions:hover {
  background-color: rgb(238, 238, 238);
}

.TransfersPage__completed-transactions-title {
  font-weight: bold;
  font-size: 16px;
}

.TransfersPage__completed-transactions-date {
  font-size: 14px;
}

.TransfersPage__completed-transactions-amount {
  margin-right: 20px;

  font-weight: bold;
}
