/* second modal */
.CreateList {
  position: fixed;
  bottom: 0;
  top: 20%;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  z-index: 600;
}


@media (max-width: 480px) {
  .CreateList {
    position: fixed;
    top: auto;
    bottom: 46px;
    left: 0;
    right: 0;
  }
}
